<%= simple_form_for @wish do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :photo, as: :attachinary %>

    <%= f.input :tags, input_html: { class: 'tm-input', placeholder: "Tags" } %>
    <p id="tags-container"></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script>
  $( document ).ready(function() {
    $('.attachinary-input').attachinary();
    var tagApi = jQuery(".tm-input").tagsManager({
      prefilled: $( "#wish_tags" ).val(),
      delimiters: [13, 44],
      tagClass: "tm-tag",
      tagsContainer: '#tags-container'
    });
  });
</script>