<%= javascript_include_tag "tagmanager" %>
<%= javascript_include_tag "twitter/typeahead.min" %>
<%= stylesheet_link_tag  "tagmanager" %>

<%= simple_form_for @wish do |f| %>

  <%= f.error_notification %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= action %> Wish</h3>
        </div>
        <div class="panel-body">
          <fieldset>
          <div class="form-group">
            <%= f.input :description, input_html: { placeholder: "Wish Description" }, required: true %>
          </div>
          <div class="form-group">
            <%= f.input :tags, input_html: { class: 'tm-input', placeholder: "Tags" } %>
            <p id="tags-container"></p>
          </div>
          <div class="form-group">
            <%= f.simple_fields_for :photography do |form_builder| %>
              <%= render 'photos/form', f: form_builder, required: true %>
            <% end %>
          </div>
          <div class="form-group col-md-4 col-md-offset-4">
            <%= f.button :submit, class:"btn btn-info" %>
          </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<script>
  $( document ).ready(function() {
    var tagApi = jQuery(".tm-input").tagsManager({
      prefilled: $( "#wish_tags" ).val(),
      delimiters: [9, 13, 44],
      tagClass: "tm-tag",
      tagsContainer: '#tags-container'
    });
  });

</script>

