<div class="container">
  <div class="container-inner">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table panel-table-last panel-bargain-show">
        <div class="panel-heading table-title">
          <div class="wish-title-container"><%= wish.description %></div>
        </div>

        <div class="wish-photo-container">
            <%= photo(wish.photography, 600, 300) %> 
        </div>

        <div class="recomendations">
          <div class="market-list-section-title">Recommended</div>
            <div class="market-list-section-container">
              <div class = "market-list-section-container-inner">
                <% wish.recommended.each do |market| %>
                  <div class="wish-recommended-item">
                    <%= photo(market.featured, 160, 80)%><br>
                    <%= market.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="market-list-section-title">Recommend Market</div>
            <div class="market-list-section-container">
              <div class = "market-list-section-container-inner">
                <%= form_tag recommend_market_to_wish_path(wish), id: "recommend_market", class:"form-group" do %>
                  <%= collection_select(:market, :market_id, Market.published, :id, :name ) %>
                  <%= submit_tag("Recommend") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

