<div class="container">
  <div class="container-inner row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table panel-table-last panel-bargain-show">
        <div class="panel-heading table-title">
          <div class="wish-title-container">
            <%= wish.description %>
            <h5> #tags_<%= wish.tags %> </h5>
            <h6> <%= t(:by) %>: <%= link_to wish.user.name, wish.user %> </h6>
          </div>
        </div>

        <div class="wish-photo-container">
          <%= photo(wish.photography, 400) %> 
        </div>

        <div class="market-list-section-title"><%= t(:recommend_market) %></div>
          <div class="market-list-section-container">
            <div id ="recommend" class = "market-list-section-container-inner row">
            </div>
            <%= hidden_field_tag 'recommend_page', params['recommend_page'] || 1 %>
          </div>
        </div>

        <div class="recomendations">
          <div class="market-list-section-title"><%= t(:recommended) %></div>
            <div class="market-list-section-container">
              <div class = "market-list-section-container-inner row">
                <% wish.recommended.each do |market| %>
                  <div class="wish-recommend-item col-md-4">
                    <%= link_to market do %>
                      <%= photo(market.featured, 200)%><br>
                    <% end %>
                    <%= market.decorate.formatted_market_name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ajaxRecommend = function(){
    $.ajax({url: "<%= list_recommend_markets_path %>", 
       data: { recommend_page:$("#recommend_page").val(),
      wish_id: "<%= wish.id %>" }
    }).done(function( data ) {
      $( "#recommend" ).html( data );
    });
  };

  $(document).ready(function(){
    ajaxRecommend();
  });
</script>
