
<div class="main-container">
  <h1><%= t(:recommend_markets) %></h1>

  <div class="paginate">
    <%= paginate @wishes %>
  </div>

  <div class = "wish-gallery row">
    <% @wishes.each do |wish| %>
      <%= render "wishes/show", :wish => wish %>
    <% end %>
  </div>

  <div class = "center">
    <%= link_to new_wish_path, class: "btn btn-default" do %>
      <i class="fa fa-plus"></i> <%= t(:new_wish) %>
    <% end %>
  </div>
</div>