<h1>Listing wishes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
        <td><%= wish.description %></td>
        <td><%= link_to 'Show', user_wish_path(wish.user, wish) %></td>
        <td><%= link_to 'Edit', edit_user_wish_path(wish.user, wish) %></td>
        <td><%= link_to 'Destroy', [wish.user, wish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wish', new_user_wish_path(current_user) %>
