<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table panel-table-last panel-bargain-show">
        <div class="panel-heading table-title">
          <div class="wish-title-container"><%= @wish.description %></div>
        </div>

        <div class="wish-photo-container">
            <%= photo(@wish.photography, 600, 300) %> 
         </div>
         <div class="recomendations">
          Recommended:
            <% @wish.recommended.each do |market| %>
              <%= market.name %>
            <% end %>
         </div>
         <div>
          Recommend Market:
            <%= form_tag recommend_market_to_wish_path(@wish), id: "recommend_market", class:"form-inline" do %>
            <%= collection_select(:market, :market_id, Market.published, :id, :name ) %>
            <%= submit_tag("Recommend") %>
          <% end %>
      </div>
      </div>
    </div>
   
</div>

