<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>

  <%= @wish.description if !@wish.description.nil? %>
  <%= cl_image_tag(@wish.wish_photo.path, { size: "200x200", crop: :fill }) if !@wish.wish_photo.nil? %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Destroy', @wish, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_wishes_path(current_user) %>
