<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
   
    <%= cl_image_tag(@wish.photo.path, { size: "200x200", crop: :fill }) if !@wish.photo.nil? %>

    <div class="caption">
      <%= @wish.description if !@wish.description.nil? %>
    </div>

    <p>
    <%= link_to 'Edit', edit_wish_path(@wish), class: "btn btn-primary" %> 
    <%= link_to 'Destroy', @wish, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%> 
    <%= link_to 'Back', user_wishes_path(current_user), class: "btn btn-primary" %>
    </p>
  </div>

</div>