<table class="table table-striped">
  <tr>
    <th>Photo</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

  <% @bargains.each do |bargain| %>
    <%= content_tag_for(:tr, bargain) do %> 
      <td class="col-md-4"> <%= photo(bargain.photography, 120, 60) %> </td>
      <td class="col-md-4"> <%= bargain.description %> </td>
      <td class="col-md-4"> 
        <span> <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), bargain, :method => :delete, class: "delete btn btn-danger table-button table-button-delete" %> </span>
        <span> <%= link_to content_tag(:i, "", class: "fa fa-pencil"), edit_bargain_path(bargain), class: "edit btn btn-info table-button table-button-edit" %></span> 
      </td>
    <% end %>
  <% end %>
</table>