<%= stylesheet_link_tag 'bargains'%>

<div class="container main-container">
  <div class="container-inner row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table panel-table-last panel-bargain-show">
        <div class="panel-heading table-title center">
         <%= bargain.description %> <br>
         <h5>
         by: <%= link_to bargain.user.name, bargain.user %>
          </h5>
        </div>
        <div>
          <div class="bargain-photo-container">
            <%= photo(bargain.photography, 400) %> 
            <%= render "bargains/utils/price_badge", bargain: bargain %>
          </div>
          <div class="center">
          <%= render "bargains/utils/facebook", bargain: bargain %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>