From: <%= @week[:from] %>
To: <%= @week[:to] %>

<ul class="calendar">
  <% @markets.each do |market| %>
    <li> <span> <%= market.name %> </span>  
    <span> <%= market.date %> </span> </li>
  <% end %>
</ul>

<%= link_to "Previous week", calendar_path(:week => params[:week].to_i - 1)  %>
<%= link_to "Next week", calendar_path(:week => params[:week].to_i + 1) %>

