From: <%= @week[:from] %>
To: <%= @week[:to] %>

<div class ="row">
	<div class="day-grid">
    MON <span class="badge"><%= @monmarkets.count %></span>
    <p><%= @week[:from] %></p>
    <% @monmarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button>
    <% end %>
	</div>

  <div class="day-grid">
    TUE <span class="badge"><%= @tuemarkets.count %></span>
    <p><%= @week[:tue] %></p>
    <% @tuemarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button>
    <% end %>
  </div>

  <div class="day-grid">
    WED <span class="badge"><%= @wedmarkets.count %></span>
    <p><%= @week[:wed] %></p>
    <% @wedmarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button>
    <% end %>
  </div>

  <div class="day-grid">
    THU <span class="badge"><%= @thumarkets.count %></span>
    <p><%= @week[:thu] %></p>
    <% @thumarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button>
    <% end %>
  </div>

  <div class="day-grid">
    FRI <span class="badge"><%= @frimarkets.count %></span>
    <p><%= @week[:fri] %></p>
    <% @frimarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button>
    <% end %>
  </div>

  <div class="day-grid">
    SAT <span class="badge"><%= @satmarkets.count %></span>
    <p><%= @week[:sat] %></p>
    <% @satmarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button><a href="#"><span> <%= market.name %> </span></a><br>
    <% end %>
  </div>

  <div class="day-grid">
    SUN <span class="badge"><%= @sunmarkets.count %></span>
    <p><%= @week[:to] %></p>
    <% @sunmarkets.each do |market| %>
      <button type="button" class="btn btn-default btn-xs">
        <span> <%= market.name %> </span>
      </button>
    <% end %>
  </div>
</div>

<ul class="calendar">
  <% @markets.each do |market| %>
    <li> <span> <%= market.name %> </span>  
    <span> <%= market.date %> </span> </li>
  <% end %>
</ul>

<%= link_to "Previous week", calendar_path(:week => params[:week].to_i - 1)  %>
<%= link_to "Next week", calendar_path(:week => params[:week].to_i + 1) %>

