<%= javascript_include_tag "jquery.slides" %>
<%= javascript_include_tag "jquery.ui.position" %>

<div id="home-container">
  <section id="slideshow">
  
    <div id="slides">
      <%  SlideshowImage.all.each do |slideshow| %>
        <%=  cl_image_tag(slideshow.photography.photo.path, {quality: "50" } ) %>
      <% end %> 
    </div>

    <div id="slideshow_titles" >
    </div>
  </section>


  <div class = "home_gallery_title"><%= t :latest_markets %></div>
  <section id="latest_markets" class="gallery-section">
    <div class="anim-container"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
  </section>

  <div class = "home_gallery_title"><%= t :hot_spots %></div>
  <section id="special_locations" class="gallery-section">
    <div class="anim-container"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
  </section>

  <div class = "home_gallery_title"><%= t :categories %></div>
  <section id="categories" class="gallery-section">
    <div class="anim-container"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
  </section>

</div>

<script>
  $.get( "<%= last_markets_path %>", function( data ) {
    $( "#latest_markets" ).html( data );
  });

  $.get( "<%= special_locations_gallery_path %>", function( data ) {
    $( "#special_locations" ).html( data );
  });

  $.get( "<%= category_gallery_path %>", function( data ) {
    $( "#categories" ).html( data );
  });

  var titlesArray = "<%= SlideshowText.title_list(params['language']) %>".split(";") ;
  var subtitlesArray =  "<%= SlideshowText.subtitle_list(params['language']) %>".split(";");
</script>

<%= javascript_include_tag "home" %>