<div class="main-container">

  <section id="slideshow"  class="hidden-xs" >
    <div id="slides" >
      <%  SlideshowImage.all.each do |slideshow| %>
        <%=  cl_image_tag(slideshow.photography.photo.path, {quality: "50" } ) %>
      <% end %> 
    </div>

    <div id="slideshow_titles" class="hidden-xs center " >
    </div>
  </section>


  <div id="latest_markets" >
  </div>

  <div id="categories">
    <div class="anim-container"><i class="fa fa-spinner fa-spin fa-3x"></i></div>  
  </div>
  

</div>

<%= javascript_include_tag "jquery.slides" %>
<%= javascript_include_tag "jquery.ui.position" %>
<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>

<script>
  $.get( "<%= last_markets_path %>", function( data ) {
    $( "#latest_markets" ).html( data );
  });

  $.get( "<%= category_gallery_path %>", function( data ) {
    $( "#categories" ).html( data );
  });

  var titlesArray = "<%= SlideshowText.title_list(params['language']) %>".split(";") ;
  var subtitlesArray =  "<%= SlideshowText.subtitle_list(params['language']) %>".split(";");
</script>