<div>
<%= link_to users_path do %> 
	<%= fa_icon "users" %>
	<span class="menu-text"> Users </span>
<% end %>
<div>

<div>	
<%= link_to markets_path do %> 
	<%= fa_icon "shopping-cart" %>
	<span class="menu-text"> Markets </span>
<% end %>
</div>

<% if user_signed_in? %>
	<li class="list-group-item"><%= link_to "Add market", new_user_market_path(current_user) %></li>
<% end %>
