<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="gallery-items">
</div>

<div id="map">
</div>

<%= render partial: 'markets/shared/utils/category_buttons' %>

<script>
  function centerMap(location){
    if(location == "") return;
    else if(location == "My location" ) {
      PM.setViewWithUserLocation($("#user_lat").val(), $("#user_lon").val(), 16);
    }
    else if(location == "Custom location" ) {
      PM.setViewWithUserLocation($("#lat").val(), $("#lon").val(), 15);
    }
    else{
      $.get("<%= get_location_path(:format => :json) %>", { 
        name: location}, function( data ) {
        PM.map.setView([data.latitude, data.longitude], 15);
      });
    }
  };
  
  $(document).ready(function(){
    $('#search_market').change(jsonSearch);
    jsonSearch();
  });
</script>

<style>
  html, body{
    overflow: hidden;
  }
</style>
