<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="gallery-items"> </div>
<div id="map"></div>

<%= render partial: 'markets/shared/utils/category_buttons' %>

<script>
  function centerMap(location){
      alert(location);
      if(location == "") return;
      else if(location == "My location" ) {
        PM.setViewWithUserLocation($("#user_lat").val(), $("#user_lon").val());
      }
      else if(location == "Custom location" ) {
        PM.setViewWithUserLocation($("#lat").val(), $("#lon").val());
      }
      else{
        $.get("get_location.json", { 
          name: location}, function( data ) {
          PM.map.setView([data.latitude, data.longitude], 16);
        });
      }
    };

  $(document).ready(function(){
    $('.map-link').html('<%= link_to search_markets_path do %><i class="fa fa-search"></i><span id="search-link-text"></span><% end %>');
    
    $('#search_button').html('<i class="fa fa-globe"></i>');

    $('#search_market').change(jsonSearch);

    var tiles = '<%= session["style"] %>';
    if(tiles == '') tiles = MAPBOX_DEFAULT_STYLE;
    PM.initializeMap(tiles);
      
    $('.theme').click(function (){PM.changeTile($(this).attr('tile'));});

    $('html, body').css({
      'overflow': 'hidden'
    });
});
</script>
