<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="gallery-items"> </div>
<div id="map"></div>

<%= render partial: 'markets/shared/utils/category_buttons' %>

<script>

  $(document).ready(function(){
    $('.map-link').html('<%= link_to search_markets_path do %><i class="fa fa-search"></i><span id="search-link-text"></span><% end %>');
    
    $('#search_button').html('<i class="fa fa-globe"></i>');

    $('#search_market').change(jsonSearch);

    $('#location_location_id').change(function(){
      if($(this).val() == "") return;
      else if($(this).val() == "My location" ) PM.setViewWithUserLocation();
      else{
        $.get("get_location.json", { 
          name: $(this).val()}, function( data ) {
          PM.map.setView([data.latitude, data.longitude], 16);
        });
      }
    }).change();

    var tiles = '<%= session["style"] %>';
    if(tiles == '') tiles = MAPBOX_DEFAULT_STYLE;
    PM.initializeMap(tiles);
      
    $('.theme').click(function (){PM.changeTile($(this).attr('tile'));});

    $('html, body').css({
      'overflow': 'hidden'
    });
});
</script>
