<div class="terms-title" >
  <i class="fa fa-ticket fa-3x"></i>
  <br>
  <%= t("sell_coupon_terms.title") %>
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <ul>
    <li> <%= t("sell_coupon_terms.terms")[0] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[1] %> </li>

    <ul>
      <li> <%= t("sell_coupon_terms.terms")[2] %> </li>
      <li> <%= t("sell_coupon_terms.terms")[3] %> </li>
      <li> <%= t("sell_coupon_terms.terms")[4] %> </li>
    </ul>

    <li> <%= t("sell_coupon_terms.terms")[5] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[6] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[7] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[8] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[9] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[10] %> </li>
    <li> <%= t("sell_coupon_terms.terms")[11] %> </li>
  </ul>
  <%= back_link %>
</div>
