<div class="terms-title" >
  <i class="fa fa-smile-o fa-3x"></i>
  <br>
  <%= t("terms_page.title") %>
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <ul>
    <li> <%= t("terms_page.terms")[0] %> </li>
    <ul>
      <li> <%= t("terms_page.terms")[1] %> </li>
    </ul>
    <li> <%= t("terms_page.terms")[2] %> </li>
    <ul>
      <li> <%= t("terms_page.terms")[3] %> </li>
    </ul>
  </ul>
  <%= back_link %>
</div>
