<head>
  <title>dowemarket</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag '/images/favicon.png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

  <!-- for Google -->
  <meta name="description" content="<%= t(:header_content) %>" />
  <meta name="keywords" content="<%= t(:header_keywords) %>" />
  <meta name="author" content="dowemarket" />
  <meta name="copyright" content="dowemarket" />
  <meta name="application-name" content="dowemarket" />
  
  <!-- for Facebook -->          
  <meta property="og:title" content="dowemarket" />
  <meta property="og:type" content="<%= t(:header_type) %>" />
  <meta property="og:image" content="/images/logo.jpg" />
  <meta property="og:url" content="http://dowemarket.com" />
  <meta property="og:description" content="<%= t(:header_content) %>" />
  
  <!-- for Twitter -->          
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="dowemarket" />
  <meta name="twitter:description" content="<%= t(:header_content) %>" />
  <meta name="twitter:image" content="/images/logo.jpg" />

</head>