<head>
  <title>Do We Market</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag '/images/favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

<!-- for Google -->
<meta name="description" content="Plataforma de búsqueda de markets. Un nuevo concepto emergente de
market alternativo,creativo, emprendedor,excepcional, chic, clandestino y sorprendente" />
<meta name="keywords" content="pop up store, personal markets, shopping" />

<meta name="author" content="Do we market" />
<meta name="copyright" content="Do we market" />
<meta name="application-name" content="Do we market" />

<!-- for Facebook -->          
<meta property="og:title" content="Do we market" />
<meta property="og:type" content="Shooping platform" />
<meta property="og:image" content="/images/logo.jpg" />
<meta property="og:url" content="http://dowemarket.com" />
<meta property="og:description" content="Plataforma de búsqueda de markets. Un nuevo concepto emergente de
market alternativo,creativo, emprendedor,excepcional, chic, clandestino y sorprendente" />

<!-- for Twitter -->          
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Do we market" />
<meta name="twitter:description" content="Plataforma de búsqueda de markets. Un nuevo concepto emergente de
market alternativo,creativo, emprendedor,excepcional, chic, clandestino y sorprendente" />
<meta name="twitter:image" content="/images/logo.jpg" />


</head>