<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div id="beta-badge-container">
      <div class="beta-badge">
        <span id="beta-badge-text">BETA</span>
      </div>
    </div>
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle pull-left navbar-collapse-button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "DOWEMARKET", home_path, :class => "navbar-brand" %>
    </div>

    <div class="navbar-header pull-right add-market-button-container">
      <ul class="nav pull-right">
        <%= render "layouts/shared/add_market" %>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render "layouts/shared/search_bar" %>
      </ul>
       
      <ul class="nav navbar-nav navbar-right topbar-right">
        <li class="map-link">
          <%= link_to map_path do %>
            <i class="fa fa-globe"></i>
            <span id="map-link-text"></span>
          <% end %>
        </li>
        
        <%= render "layouts/shared/guest_menu" %>
        <% if user_signed_in? %>
          <%= render "layouts/shared/signout" %>
        <% else %>
          <%= render "layouts/shared/signin" %>
        <% end %>
        <%= render "layouts/shared/footer_menu" %>
      </ul>
    </div>
    </div>
  </div>
</nav>

<style>
  @media (min-width: 768px){
    .topbar-right > .footer-collapse{
      display:none;
    }
  }
  @media (max-width: 767px){
    #map-link-text:after{
      content:"\00a0 Map";
    }
    #explore-link-text:after{
      content:"\00a0 Explore";
    }
    #search-link-text:after{
      content:"\00a0 Search...";
    }
  }
</style>

<script>
$(document).ready(function(){
  footerCollapse();
  window.onresize = footerCollapse();
});

var toggleDropup = function(widthBoolean){
  $(".languages").toggleClass("dropup", widthBoolean);
  $(".languages").toggleClass("dropdown", !widthBoolean);
}

var footerCollapse = function(){
  if (window.innerwidth > 768)
    toggleDropup(true);
  else
    toggleDropup(false);
}

</script>