 <!-- Navbar Vertical START -->
<div class="col-md-3">
    <p class="lead">Admin</p>
    <div class="list-group">
		<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <% if user_signed_in? %>
              <li><%= link_to "My markets", user_markets_path(current_user) %></li>
              <li><%= link_to "My favorites", user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path %></li>
              <li>You are logged as: <%= current_user.email %></li>
              <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
        </li>
    </div>
</div>
  <!-- Navbar Vertical STOP -->