 <!-- Navbar Horizontal START -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Personal Markets", "", :class => "navbar-brand"   %>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <li><%= link_to "Search", search_path %></li>
                <li><a data-nav="scroll" href="/#/map-container">Map</a></li>
                <li><a data-nav="scroll" href="/#/gallery">Markets</a></li>
                <li><a data-nav="scroll" href="/#/calendar">Calendar</a></li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest<b class="caret"></b></a>
                  <ul class="dropdown-menu guest-links" role="menu">
                    <%= render "layouts/shared/guest_tasks"%>
                  </ul>
                </li>

                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">User<b class="caret"></b></a>
                    <ul class="dropdown-menu user-links" role="menu">
                      <%= render "layouts/shared/user_tasks"%>
                    </ul>
                  <li>
                <% end %>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                  <ul class="dropdown-menu admin-links" role="menu">
                    <%= render "layouts/shared/admin_tasks"%>
                  </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <%= render "layouts/shared/signout" %>
              <% else %>
                <%= render "layouts/shared/signin" %>
              <% end %>
            </ul>

        </div>
    </div>
</nav>
 <!-- Navbar Horizontal  STOP -->