 <!-- Navbar Horizontal START -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Personal Markets", "/", :class => "navbar-brand"   %>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <%= render "layouts/shared/search_bar" %>
              <%= render "layouts/shared/guest_menu" %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <%= render "layouts/shared/add_market" %>

              <% if user_signed_in? %>
                <%= render "layouts/shared/user_menu"  %>
                <%= render "layouts/shared/admin_menu" if current_user.has_role? :admin %>
                <%= render "layouts/shared/signout" %>
              <% else %>
                <%= render "layouts/shared/signin" %>
              <% end %>
            </ul>
        </div>
    </div>
</nav>

<style>
  @media (max-width: 990px) {
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
  }
</style>


 <!-- Navbar Horizontal  STOP -->