<li class="dropdown">
  <a href="#" class="dropdown-toggle sign-in-link" data-toggle="dropdown">
    <i class="fa fa-user"></i>&nbsp;<%= t(:sign_in).capitalize %><b class="caret"></b>
  </a>

  <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
    <li>
      <div class="row">
        <div class="col-md-12 user-session-menu">
          <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.input :email, :required => true, :autofocus => true %>
            </div>

            <div class="form-group">
              <%= f.input :password, :required => true %>
            </div>

            <div class="form-group">
              <%= f.check_box :remember_me, as: :boolean, inline_label: t(:remember_me), label: false if devise_mapping.rememberable? %> <%= t(:remember_me) %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, t(:sign_in).capitalize , :class=>  "btn btn-info btn-block sign-in-button " %>
            </div>

            <div class="divider"></div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </li>
    <li class="divider"></li>
    <li class="omniauth-sign-up">
      <li> <%= button_to t(:sign_in_with_google), user_omniauth_authorize_path(:google_oauth2), :class=>  "btn btn-primary btn-block"  %> </li>
      <li> <%= button_to t(:sign_in_with_facebook), user_omniauth_authorize_path(:facebook), :class=>  "btn btn-primary btn-block" %></li>
    </li>
  </ul>
</li>

<style>
  .center{
    text-align: center;
  }
</style>