<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown">

<% if current_user.has_role? "premium" %>
  <i class="fa fa-star premium-star"></i>
<% else %>
  <i class="fa fa-user"></i>
<% end %>

&nbsp;<div id="nav_user_container"><span id="nav_user_name"><%=current_user.email%></span> <b class="caret"></b></div>

</a>

<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">

  <div class="well well-sm">
      <div class="media">
          <a class="thumbnail pull-left" href="#">
              <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
          </a>
          <div class="media-body">
          <% if current_user.has_role? "admin" %>
                  <%= render "layouts/shared/admin_menu" %>
          <% else %>
                  <%= render "layouts/shared/user_menu"  %>
          <% end %>
          </div>
      </div>
      <div class="form-actions center">
        You are signed in as <span style="color: #5bc0de;"><%=current_user.email%></span>
      </div>
  </div>

  <div class="form-actions">
     <%= link_to "Sign out", destroy_user_session_path, :class=>  "btn btn-info btn-block"  %>
  </div>

</ul>

<style>
  #nav_user_container{
    display:inline-block;
  }

  @media (min-width:768px) {
    #nav_user_name{
      max-width:75px;
      float:left;
      overflow:hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
    }
  }
  
	.center{
 		text-align: center;
	}
  .btn-100{
    width: 100%;
  }
</style>