<!-- <li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown">

<% if current_user.has_role? "premium" %>
  <i class="fa fa-star fa-3 premium-star"></i>
<% end %>

<span id="nav_user_name"> <%=current_user.email%> </span> <b class="caret"></b></a>

<ul class="dropdown-menu">
  <li><%=link_to "Sign out", destroy_user_session_path %></li>
</ul> -->

<li class="dropdown">

<a href="#" class="dropdown-toggle" data-toggle="dropdown">

<% if current_user.has_role? "premium" %>
  <i class="fa fa-star fa-3 premium-star"></i>
<% end %>

<span id="nav_user_name"> <%=current_user.email%> </span> <b class="caret"></b></a>

<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">

  <div class="well well-sm">
      <div class="media">
          <a class="thumbnail pull-left" href="#">
              <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
          </a>
          <div class="media-body">
                  <%= link_to user_markets_path(current_user), class:"btn btn-xs btn-danger btn-lg" do %>
                  <i class="fa fa-shopping-cart"></i> Markets
                  <% end %>
                  <%= link_to user_likes_path(current_user), class:"btn btn-xs btn-warning btn-lg" do %>
                  <i class="fa fa-heart-o"></i> Likes
                  <% end %>
          </div>
      </div>
      <div class="form-actions center">
        You are signed in as <span style="color: #5bc0de;"><%=current_user.email%></span>
      </div>
  </div>

  <div class="form-actions">
     <%= link_to "Sign out", destroy_user_session_path, :class=>  "btn btn-info btn-block"  %>
  </div>
</ul>

<style>
	#nav_user_name{
		max-width:80%;
		float:left;
		overflow:hidden;
		text-overflow: ellipsis;
	}
	.center{
 		text-align: center;
	}
</style>