
<li class="registered-user-action"><%= link_to "My markets", user_markets_path(current_user) %></li>
<li class="registered-user-action"><%= link_to "My wishlist", user_wishes_path(current_user) %></li>
<li class="registered-user-action"><%= link_to "My likes", user_path(current_user) %></li>
<li class="registered-user-action"><%= link_to "My coupons", user_out_transactions_path(current_user) %></li>
<li class="registered-user-action"><%= link_to "Coupons transactions", user_in_transactions_path(current_user) %></li>
<li class="registered-user-action"><%= link_to "My profile", user_path(current_user) %></li>
