<%= stylesheet_link_tag "price_slider" %>
<%= stylesheet_link_tag "form_wizard" %>
<%= stylesheet_link_tag "bootstrap-datepicker" %>
<%= stylesheet_link_tag "jquery.ui.slider" %>
<%= stylesheet_link_tag  "tagmanager" %>

<script>
  var locale = "<%= params['language'] %>"; 
  var suggested_tags_path = "<%= suggested_tags_path %>";
  var form_date_template = '<%= j render "markets/shared/forms/form_date" %>';
  var passedDates = "";
  var passedSchedule = "";
</script>

<div id="error" class="alert alert-danger flash hidden">
</div>

<div class="main-container">

  <div class="panel panel-default panel-table">
    
    <div class="panel-heading table-title"> 
      <%= market.discard_button if params[:action] == "edit" %>
      <%= t(action.to_s).capitalize %>  Market 
      <span id="progress"></span>
    </div>

    <div id="wizard" class="row">

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

      <ul class="col-md-3"> 

        <li id="form-link-name">
          <a href="#form-market-name-description" data-toggle="tab"><%= t(:general_information).capitalize %></a>
        </li>

        <li id="form-link-gallery">
          <a href="#form-market-photos" data-toggle="tab"><%= t(:photo_gallery_pro).capitalize %></a>
        </li>

        <li id="form-link-category">
          <a href="#form-market-category-tag" data-toggle="tab"><%= t(:category_and_tags).capitalize %></a>
        </li>

        <li id="form-link-date">
          <a href="#form-market-date" data-toggle="tab"> <%= t(:date_and_time).capitalize %></a>
        </li>

        <li id="form-link-prices">
          <a href="#form-market-prices" data-toggle="tab"><%= t(:price_range).capitalize %></a>
        </li>

        <% if market.pro? %>
          <li id="form-external-url" class="enabled"><a href="#form-market-external-url" data-toggle="tab">
            <%= t(:external_url_pro).capitalize %>(VIM) </a>
          </li>
        <% else %>
          <li id="form-external-url" class="disabled"><a href="#" data-toggle="">
            <%= t(:external_url_pro).capitalize %> (VIM)</a>
          </li>
        <% end %>

        <li id="form-link-location">
          <a href="#form-market-location" data-toggle="tab"><%= t(:location).capitalize %></a>
        </li>

        <% if market.pro? %>
          <li id="form-link-coupon" class="enabled">
            <a href="#form-market-coupon" data-toggle="tab"><%= t(:coupon_pro).capitalize %> (VIM)</a>
          </li>
        <% else %>
          <li id="form-link-coupon" class="disabled">
            <a href="#" data-toggle=""><%= t(:coupon_pro).capitalize %> (VIM)</a>
          </li>
        <% end %>

      </ul>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

      <%= simple_form_for [user, market], :html => {"data-tags" => "#{raw_tags(market).downcase}",  novalidate: true, role: "form"}  do |f| %>

        <div class="tab-content col-md-9">

          <div class="tab-pane" id="form-market-name-description"> 
            <div class="form-intro-pane">
              <div class="row">
                
                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-pencil-square-o fa-5x"></i>
                </div>

                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t(:general_information).capitalize %></span>
                  <br>
                  <i class="fa fa-arrow-circle-right"></i> <%= t("market_form.you_can_edit_your_market") %>
                </div>
              
              </div>

              <%= f.input :name, required: true,  input_html: { class: 'market-name' } %>
              <%= f.input :description, :as => :text, input_html: { class: 'market-description' } %>
              
              <p> <%= t :featured_photo %>: </p>
              
              <%= f.simple_fields_for :featured do |form_builder| %>
                <%= render 'photos/form', f: form_builder %>
              <% end %>
            </div>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id="form-market-photos">
            <div class="form-intro-pane">
              <div class="row">

                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-camera-retro fa-5x"></i>
                </div>
                
                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t(:photo_gallery_pro).capitalize %></span>
                  <br>
                  <i class="fa fa-arrow-circle-right"></i> <%= t("market_form.you_can_edit_your_photos") %>
                  <% if !market.pro? %>
                    <br> 
                    <i class="fa fa-arrow-circle-right"></i> <%= t("market_form.you_can_add_more_photos") %>
                  <% end %>
                </div>          
              </div>
            </div>

            <br>
            <%= f.simple_fields_for :gallery do |form_builder| %>
              <%= render 'photos/gallery_form', f: form_builder %>
            <% end %>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id="form-market-category-tag">
            <div class="form-intro-pane">
              <div class="row">

                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-tags fa-5x"></i>
                </div>

                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t(:category_and_tags).capitalize %></span>
                  <br>
                  <i class="fa fa-arrow-circle-right"></i> <%= t("market_form.select_better_tags") %> 
                </div>
              </div>

              <%= f.association :category, :include_blank => true %>
              <%= f.input :tags, input_html: { class: 'tm-input' } %>
              <p id="tags-container"></p>
            </div>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id="form-market-date">
            <div class="form-intro-pane">

              <div class="row">
                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-calendar fa-5x"></i>
                </div>

                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t(:date_and_time).capitalize  %></span><br>
                  <%= t("market_form.you_can_select_many_schedules") %> 
                  <br><i class="fa fa-arrow-circle-right"></i>  
                    <%= t("market_form.your_market_cannot_be_longer_than") + " " + market.max_duration.to_s + " " + t(:days) %> 
                  <% if !current_user.is_premium? %>
                    <br>
                    <i class="fa fa-arrow-circle-right"></i> <%=  t("market_form.become_pro_to_have_longer_markets") %>
                  <% end %>
                </div>
                </div>

              <%= f.input :date, input_html: { class: 'market-date hidden' }  %>
              <%= f.input :schedule,  input_html: { class: 'market-schedule hidden' }  %>
              <%= render partial: "markets/shared/forms/form_date_table", :locals => {market: market} %>
            </div>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id="form-market-prices">
            <div class="form-intro-pane">
              <div class="row">
                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-money fa-5x"></i>
                </div>
                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t(:price_range).capitalize %></span>
                  <br>
                </div>
              </div>
              <div id="prices-slider"></div>
              <div class="row price-labels">
                <div class="pull-left"><span id="min-price"></span> €</div>
                <div class="pull-right"><span id="max-price"></span> €</div>
              </div>
              <%= f.input :min_price, :as => :hidden %>
              <%= f.input :max_price, :as => :hidden %>
            </div>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id="form-market-external-url">
            <div class="form-intro-pane">
              <div class="row">

                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-link fa-5x"></i>
                </div>

                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t(:external_url_pro).capitalize %> (VIM)</span>
                  <br>
                  Añade links a tu blog, web y a tu evento de facebook para estar más contectado.
                </div>

              </div>
              
              <%= f.input :url, { placeholder: "Link of your external url" } %>
              <%= f.input :social_link, { placeholder: "Link to your event page/blog..." } %>  
            </div>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id = "form-market-location" > 
            <div class="form-intro-pane">
              <div class="row">
                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-map-marker fa-5x"></i>
                </div>
                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small" class="form-section-title-small"><%= t(:location).capitalize %></span><br>
                  Comprueba que aparece correctamente en el mapa
                </div>
              </div>
              
              <%= f.input :address, { placeholder: t(:address).capitalize } %>
              <%= f.input :city, { class: 'cities', placeholder: t(:city).capitalize } %>
             
              <div class="control-group">
                <%= link_to content_tag(:i, " Update map", :class => "fa fa-refresh", :title => "Update Map", rel: 'tooltip'), "#", 
                :class=>  "btn btn-default hidden", 
                :id=>"refresh_location" %>
              </div>

              <div class = "hidden">
                <%= f.input :longitude %>
                <%= f.input :latitude %>
              </div>
            </div>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          <div class="tab-pane" id="form-market-coupon" > 
            <div class="form-intro-pane">
                <div class="row">
                    <div class="form-pane-image col-sm-2">
                      <i class="fa fa-ticket fa-5x"></i>
                    </div>
                    <div class="form-pane-text col-sm-10">

                      <span class="form-section-title-small"><%= t(:coupon_pro).capitalize %> (VIM)</span>
                      <br>
                      <%= t(:you_can_emit_a_coupon) %>
                      <br>
                      <i class="fa fa-arrow-circle-right"></i> <%= link_to t(:how_it_works), sell_coupon_terms_path %>
                    </div>
                </div>
            </div>
            <%= f.simple_fields_for :coupon do |form_builder| %>
              <%= render 'coupons/forms/form', f: form_builder %>
            <% end %>
          </div>

  <!-- ############################################################################################### -->
  <!-- ############################################################################################### -->

          
          <div id="small-map-container">
            <%= render "markets/shared/utils/mapsmall" %>
          </div>

      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn', id: 'market-save-button' %>
          
  <% if params[:action] == "edit" %>
    <%= save_and_publish_button(f, market) %>
  <% else %>
    <div class="center tip">
      <%= t('market_form.remember_to_publish') %>
    </div>
  <% end %>
<% end %>
</div>



<%= javascript_include_tag "jquery.bootstrap.wizard" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>
<%= javascript_include_tag "bootstrap-datepicker/core" %>
<%= javascript_include_tag "bootstrap-datepicker/locales/bootstrap-datepicker.es" %>
<%= javascript_include_tag "jquery.ui.slider" %>
<%= javascript_include_tag "tagmanager" %>
<%= javascript_include_tag "twitter/typeahead.min" %>

<%= javascript_include_tag "market_form" %>

<script> 
$(".simple_form").submit(function(){
  if( $("#market_name").val().length == 0 ) {
    $("#error").removeClass("hidden");
    $("#error").html("<%= t('market_form.market_name_cannot_be_empty') %>");
    return false;
  }
  else{
  try{
      var dates = collectNewDates();
      $('#market_date').val(passedDates + serializeDates(dates));
      $('#market_schedule').val(passedSchedule + serializeSchedules(dates));
      $("#error").html("");
      downcase_tags();
    } 
    catch(em) {
      console.log(em);
    }
  }
});

$("#refresh_location").click(updateLocationData);
$('#market_address').keypress(function(){$("#refresh_location").removeClass('hidden')});
$('#market_city').keypress(function(){$("#refresh_location").removeClass('hidden')});

$("#discard").unbind().click(function(){
    if(!confirm("<%= t('market_form.discard_changes') %>"))
      return false;
});
</script>
