<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>

<div id="error" class="alert alert-danger flash hidden"></div>

<div class="panel panel-default panel-table">
  <div class="panel-heading table-title">
    <%= action %> Market
  </div>
<div id="wizard" class="row">
  <ul class="col-md-3">
    <li id="form-link-name"><a href="#form-market-name-description" data-toggle="tab"><%= t :general_information %></a></li>

    <% if market.pro? %>
      <li id="form-link-gallery" class="enabled"><a href="#form-market-photos" data-toggle="tab"><%= t :photo_gallery_pro %></a></li>
    <% else %>
      <li id="form-link-gallery" class="disabled"><a href="#" data-toggle=""><%= t :photo_gallery_pro %></a></li>
    <% end %>
    
    <li id="form-link-category"><a href="#form-market-category-tag" data-toggle="tab"><%= t :category_and_tags %></a></li>
    <li id="form-link-date"><a href="#form-market-date" data-toggle="tab"><%= t :date_and_time %></a></li>
    <li id="form-link-prices"><a href="#form-market-prices" data-toggle="tab"><%= t :price_range %></a></li>
    
    <% if market.pro? %>
        <li id="form-external-url"><a href="#form-market-external-url" data-toggle="tab"><%= t :external_url_pro %></a></li>
    <% else %>
        <li id="form-external-url" class="disabled"><a href="#" data-toggle=""><%= t :external_url_pro %></a></li>
    <% end %>

    <li id="form-link-location"><a href="#form-market-location" data-toggle="tab"><%= t :location %></a></li>

    <% if market.pro? %>
      <li id="form-link-coupon" class="enabled"><a href="#form-market-coupon" data-toggle="tab"><%= t :coupon_pro %></a></li>
    <% else %>
      <li id="form-link-coupon" class="disabled"><a href="#" data-toggle=""><%= t :coupon_pro %></a></li>
    <% end %>
    
  </ul>

  <%= simple_form_for [user, market], :html => {"data-tags" => "#{raw_tags(market)}", 
        novalidate: true, role: "form"}  do |f| %>

    <div class="tab-content col-md-9">
      <div class="tab-pane" id="form-market-name-description"> 
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-pencil-square-o fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :general_information %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <%= f.input :name, required: true,  input_html: { class: 'market-name' } %>
        <%= f.input :description, :as => :text, input_html: { class: 'market-description' } %>
        <p class="form-section-title-small"> <%= t :featured_photo  %> </p>
        <%= f.simple_fields_for :featured do |form_builder| %>
            <%= render 'photos/form', f: form_builder %>
        <% end %>
      </div>

      <div class="tab-pane" id="form-market-photos">
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-camera-retro fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :photo_gallery_pro %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <%= f.simple_fields_for :gallery do |form_builder| %>
          <%= render 'photos/gallery_form', f: form_builder %>
        <% end %>
      </div>

      <div class="tab-pane" id="form-market-category-tag">
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-tags fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :category_and_tags %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <%= f.association :category, :include_blank => false %>
        <%= f.input :tags, input_html: { class: 'tm-input' } %>
        <p id="tags-container"></p>
      </div>
  
      <div class="tab-pane" id="form-market-date">
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-calendar fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :date_and_time %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <%= f.input :date, input_html: { class: 'market-date hidden' }  %>
        <%= f.input :schedule,  input_html: { class: 'market-schedule hidden' }  %> 

        <div class="table-container">
          <table class="table table-striped" id="date-schedule-table">
            <tr>
              <th>Date</th>
              <th>Schedule</th>
              <th>
                <button class="btn btn-default pull-right btn-xs" id="button-add-date" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
            </tr>
            <tbody>
            </tbody>
          </table>

        </div>
      </div>
    
      <div class="tab-pane" id="form-market-prices">
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-money fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :price_range %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <div id="prices-slider"></div>
        <%= f.input :min_price %>
        <%= f.input :max_price %>
      </div>
    
      <div class="tab-pane" id="form-market-external-url">
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-link fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :external_url_pro %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <%= f.input :url, { placeholder: "Link of your external url" } %>
        <%= f.input :social_link, { placeholder: "Link to your event page/blog..." } %>  
      </div>
  
      <div class="tab-pane" id = "form-market-location" > 
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-map-marker fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small" class="form-section-title-small"><%= t :location %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</div>
          </div>
        </div>
        <%= f.input :address, { placeholder: "Address" } %>
        <%= f.input :city, { class: 'cities', placeholder: "City" } %>
        <div class = "hidden">
        <%= f.input :longitude %>
        <%= f.input :latitude %>
        </div>
      </div>
  
      <div class="tab-pane" id = "form-market-coupon" > 
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-ticket fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :coupon_pro %></span><br>
              Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. 
              <%= link_to "How it works?", coupon_terms_path %></div>
          </div>
        </div>
        <%= f.simple_fields_for :coupon do |form_builder| %>
          <%= render 'coupons/form', f: form_builder %>
        <% end %>
      </div>
      <div id="small-map-container"><%= render "markets/shared/utils/mapsmall" %></div>
    </div>
  </div>
</div>
  <%= f.button :submit, class: 'btn', id: 'market-save-button' %>
  <%= save_and_publish_button(f, market) %>
<% end %>



<script>

$( document ).ready(function() {
      initializeAutocomplete('market_city');
      $('#wizard').bootstrapWizard({
        tabClass: 'nav nav-pills nav-stacked',
        onTabChange: function(){
          locationTabActive();
        }
      });
      
      $('ul.nav a[href="' + window.location.hash + '"]').tab('show');
  
      $(".add_market_button").addClass("btn-default");
      $(".add_market_button").removeClass("btn-info");
      $(".add_market_button").attr("disabled", true);

      if (scheduleAlreadyExist($('#market_schedule').val())){
        showExistSchedule($('#market_schedule').val());
      }
      else{
        $('#date-schedule-table > tbody:last').append('<%= render "markets/shared/forms/form_date" %>');
      }

      initializeDatepicker();
      addDatePickerEvent();
      initializeSchedule();

      $("#button-add-date").click(function(){
        $('#date-schedule-table > tbody:last').append('<%= render "markets/shared/forms/form_date" %>');
        initializeDatepicker();
        addDatePickerEvent();
        initializeSchedule();
      });

      $( "table" ).on( "click", ".button-delete-line", function() {
        $(this).closest('tr').remove();
        getAllDates();
      });

   $('.attachinary-input').attachinary();

  var tagApi = jQuery(".tm-input").tagsManager({
      prefilled: $("#market_tags").attr("value"),
      delimiters: [9, 13, 44],
      tagClass: "tm-tag",
      tagsContainer: '#tags-container'
    });

  var tags = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 3, 
    prefetch: {
      url: '/tags.json',
      filter: function(list) {
        return $.map(list, function(tag) { return { name: tag }; });
      }
    }
  });
 
  tags.initialize();
 
  $('.tm-input').typeahead(null, {
    name: 'tags',
    displayKey: 'name',
    hint: true,
    highlight: true,
    minLength: 1,
    source: tags.ttAdapter(),
  });

  $('#market_address').blur(function () {
    updateLocationData();
  });
});

var scheduleAlreadyExist = function(scheduleString){
  return scheduleString != "";
};

var showExistSchedule = function(scheduleString){
  var allSchedules = scheduleString.split(";");
  $.each(allSchedules, function(i, val){
    $('#date-schedule-table > tbody:last').append('<%= render "markets/shared/forms/form_date" %>');
    initializeDatepicker();
    $('.input-group.date').last().datepicker('setDates', stringToDate(val.split(",")[0]));
    $('.schedule-start-input').last().val(val.split(",")[1]);
    $('.schedule-end-input').last().val(val.split(",")[2]);
    addDatePickerEvent();
    initializeSchedule();
  });
};

var stringToDate = function(data){
  return moment(data, 'DD/MM/YYYY').toDate();
};

var initializeDatepicker = function(){
  $('.input-group.date').datepicker({
    weekStart: 1,
    format: "dd/mm/yyyy",
    startDate: "today",
    endDate:"+1m",
    language: "<%= params['language'] %>",
    todayHighlight: true
  });
};

var addDatePickerEvent = function(){
  $('.input-group.date').datepicker().on('changeDate',function(){
    getAllDates();
  });
};

var initializeSchedule = function(){
  $('.schedule-start-input').change(function(){
    getAllSchedules();
  });
  $('.schedule-end-input').change(function(){
    getAllSchedules();
  });
};

var getAllDates = function(){
  var dates = new Array();
  $('.input-group.date').each(function() {
    dates.push($(this).data().datepicker.viewDate);
  });
  dates.sort(function(a, b){return a-b}); 
  formatDates(dates);
  getAllSchedules();
};

var formatDates = function(dates){
  var datesFormatted = new Array();
  $.each(dates, function(i, val){
    datesFormatted.push(moment(val).format("DD/MM/YYYY"));
  });
  datesFormatted = $.unique(datesFormatted);
  $('#market_date').val(datesFormatted.join(","));
};

var getAllSchedules = function(){
  var scheduleArray = new Array();
  $('.schedule-line').each(function(){
    var schedule = new Array();
    schedule.push(moment($(this).find('.input-group.date').data().datepicker.viewDate).format("DD/MM/YYYY"));
    schedule.push($(this).find('.schedule-start-input').val());
    schedule.push($(this).find('.schedule-end-input').val());
    scheduleArray.push(schedule.join(","));
  });
  $('#market_schedule').val(scheduleArray.join(";"));
};

var locationTabActive = function(){
  if ($("#form-market-location").hasClass("active")){
    $("#small-map-container").show();
  }
  else{
    $("#small-map-container").hide();
  }
  
};

var initializeAutocomplete = function(input_id) {
  autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById(input_id)),
    {
      types: ['(cities)']
    });
  
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    updateLocationData();
  });
};

var updateLocationData = function(){
  if (addressAndCityAreFilled())
    getLocationFromAddress(encodeAddressToUrl());
};

var addressAndCityAreFilled = function(){
  return $('#market_address').val() && $('#market_city').val();
};

var encodeAddressToUrl = function(){
  var encodedAddress = encodeURIComponent($('#market_address').val());
  var encodedCity = encodeURIComponent($('#market_city').val());
  var addressUrl = "https://maps.googleapis.com/maps/api/geocode/json?address=" + encodedAddress + "%20" + encodedCity + "&sensor=false&key=AIzaSyBkhXw8kMql7c4tc1LwaMGbm9024z03AKU";
  return addressUrl;
};

var getLocationFromAddress = function(url){
  var lat, lng;
  $.getJSON(url, function(data){
    lat = data.results[0].geometry.location.lat;
    lng = data.results[0].geometry.location.lng;
    $("#market_latitude").val(lat);
    $("#market_longitude").val(lng);
    if (PM.marker) {
      PM.map.removeLayer(PM.marker);
    }
    PM.addMarker([lat, lng], false);
    PM.map.setView([lat, lng], 14);
  });
};

$.fn.exBounce = function(){
  var self = this;
  (function runEffect(){
      self.effect("bounce", { times:3, distance: 5 }, 1000, runEffect);
  })();
  return this;
};

$(".simple_form").submit(function(){
   if( $("#market_name").val().length == 0 ) {
      $("#error").removeClass("hidden");
      $("#error").html("Market name cannot be empty");
        return false;
      }
   else{
    $("#error").html("");
   }
});

</script>
