
<%= javascript_include_tag "jquery.bootstrap.wizard" %>

<div id="error" class="alert alert-danger flash hidden"></div>

<div class="panel panel-default panel-table">
  <div class="panel-heading table-title"> <%= discard_button(market) %>
    <%= action %>  Market <span  id="progress"> </span>
  </div>
  <div id="wizard" class="row">
    <ul class="col-md-3">

      <li id="form-link-name"><a href="#form-market-name-description" data-toggle="tab"><%= t :general_information %></a></li>
      <li id="form-link-gallery"><a href="#form-market-photos" data-toggle="tab"><%= t :photo_gallery_pro %></a></li>

      <li id="form-link-category"><a href="#form-market-category-tag" data-toggle="tab"><%= t :category_and_tags %></a></li>
      <li id="form-link-date"><a href="#form-market-date" data-toggle="tab"><%= t :date_and_time %></a></li>
      <li id="form-link-prices"><a href="#form-market-prices" data-toggle="tab"><%= t :price_range %></a></li>

      <% if market.pro? %>
      <li id="form-external-url" class="enabled"><a href="#form-market-external-url" data-toggle="tab"><%= t :external_url_pro %></a></li>
      <% else %>
      <li id="form-external-url" class="disabled"><a href="#" data-toggle=""><%= t :external_url_pro %></a></li>
      <% end %>

      <li id="form-link-location"><a href="#form-market-location" data-toggle="tab"><%= t :location %></a></li>

      <% if market.pro? %>
      <li id="form-link-coupon" class="enabled"><a href="#form-market-coupon" data-toggle="tab"><%= t :coupon_pro %></a></li>
      <% else %>
      <li id="form-link-coupon" class="disabled"><a href="#" data-toggle=""><%= t :coupon_pro %></a></li>
      <% end %>

    </ul>

    <%= simple_form_for [user, market], :html => {"data-tags" => "#{raw_tags(market).downcase}", 
    novalidate: true, role: "form"}  do |f| %>

    <div class="tab-content col-md-9">
      <div class="tab-pane" id="form-market-name-description"> 
        <div class="form-intro-pane">
          <div class="row">
            <div class="form-pane-image col-sm-2">
              <i class="fa fa-pencil-square-o fa-5x"></i>
            </div>
            <div class="form-pane-text col-sm-10">
              <span class="form-section-title-small"><%= t :general_information %></span><br>
              El título, descripción y foto destacada son los atributos más importantes de tu market. Cuanto más atractivos sean más público vas a tener.
              <br><i class="fa fa-arrow-circle-right"></i> Recuerda que puedes modificar tus datos en cualquier momento!
              <br><i class="fa fa-arrow-circle-right"></i> La foto de portada tiene un aspecto apaisado (2:1); así que para mejor visualiación deberá tener por ejemplo 600x300 píxeles</div>
            </div>
          </div>
          <%= f.input :name, required: true,  input_html: { class: 'market-name' } %>
          <%= f.input :description, :as => :text, input_html: { class: 'market-description' } %>
          <p class="form-section-title-small"> <%= t :featured_photo  %> </p>
          <%= f.simple_fields_for :featured do |form_builder| %>
          <%= render 'photos/form', f: form_builder %>
          <% end %>
        </div>

        <div class="tab-pane" id="form-market-photos">
          <div class="form-intro-pane">
            <div class="row">
              <div class="form-pane-image col-sm-2">
                <i class="fa fa-camera-retro fa-5x"></i>
              </div>
              <div class="form-pane-text col-sm-10">
                <span class="form-section-title-small"><%= t :photo_gallery_pro %></span><br>
                Estas fotos sirven para ilustrar tu mercado, no tienen porque ser e tus productos, también pueden ser del espacio o fotos inspiradoras<br><i class="fa fa-arrow-circle-right"></i> Puedes editar tus fotos una vez guardadas, en tu espacio personal.
                <br> <i class="fa fa-arrow-circle-right"></i> Si quieres añadir más fotos convierte tu market en VIM (Very important market).
              </div>          
            </div>

          </div>
          <%= f.simple_fields_for :gallery do |form_builder| %>
          <%= render 'photos/gallery_form', f: form_builder %>
          <% end %>
        </div>

        <div class="tab-pane" id="form-market-category-tag">
          <div class="form-intro-pane">
            <div class="row">
              <div class="form-pane-image col-sm-2">
                <i class="fa fa-tags fa-5x"></i>
              </div>
              <div class="form-pane-text col-sm-10">
                <span class="form-section-title-small"><%= t :category_and_tags %></span><br>
                Elige la categoría y las tags que mejor se ajuste a tu market.<br><i class="fa fa-arrow-circle-right"></i> Elige buenas tags y seguro que apareces más a menudo en las búsquedas. </div>
              </div>
            </div>
            <%= f.association :category, :include_blank => true %>
            <%= f.input :tags, input_html: { class: 'tm-input' } %>
            <p id="tags-container"></p>
          </div>

          <div class="tab-pane" id="form-market-date">
            <div class="form-intro-pane">
              <div class="row">
                <div class="form-pane-image col-sm-2">
                  <i class="fa fa-calendar fa-5x"></i>
                </div>
                <div class="form-pane-text col-sm-10">
                  <span class="form-section-title-small"><%= t :date_and_time %></span><br>
                  Puedes elegir tantas franjas horarias como necesites. <br><i class="fa fa-arrow-circle-right"></i> Recuerda que tu market no puede durar más de <%= market.max_duration %> días!</div>
                </div>
              </div>
              <%= f.input :date, input_html: { class: 'market-date hidden' }  %>
              <%= f.input :schedule,  input_html: { class: 'market-schedule hidden' }  %>

              <div id="passed-schedules"></div>

              <div class="table-container">
                <table class="table table-striped" id="date-schedule-table">
                  <tr>
                    <th>Passed</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <% market.human_readable_schedule.each do |day| %> 
                  <% if day["passed"] %>
                  <tr>
                    <td> <%= format_date(day) %> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                  <% end %>
                  <% end %>
                  <tr>
                    <th>Date</th>
                    <th>Schedule</th>
                    <th>
                      <button class="btn btn-default pull-right btn-xs" id="button-add-date" type="button">
                        <i class="fa fa-plus"></i>
                      </button>
                    </th>
                  </tr>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane" id="form-market-prices">
              <div class="form-intro-pane">
                <div class="row">
                  <div class="form-pane-image col-sm-2">
                    <i class="fa fa-money fa-5x"></i>
                  </div>
                  <div class="form-pane-text col-sm-10">
                    <span class="form-section-title-small"><%= t :price_range %></span><br>
                    Informa a tus compradores de el rango de precios de tu Market.<br><i class="fa fa-arrow-circle-right"></i> Este apartado es meramente informativo, así que no limita las búsquedas.</div>
                  </div>
                </div>
                <div id="prices-slider"></div>
                <%= f.input :min_price %>
                <%= f.input :max_price %>
              </div>

              <div class="tab-pane" id="form-market-external-url">
                <div class="form-intro-pane">
                  <div class="row">
                    <div class="form-pane-image col-sm-2">
                      <i class="fa fa-link fa-5x"></i>
                    </div>
                    <div class="form-pane-text col-sm-10">
                      <span class="form-section-title-small"><%= t :external_url_pro %></span><br>
                      Añade links a tu blog, web y a tu evento de facebook para estar más contectado.</div>
                    </div>
                  </div>
                  <%= f.input :url, { placeholder: "Link of your external url" } %>
                  <%= f.input :social_link, { placeholder: "Link to your event page/blog..." } %>  
                </div>

                <div class="tab-pane" id = "form-market-location" > 
                  <div class="form-intro-pane">
                    <div class="row">
                      <div class="form-pane-image col-sm-2">
                        <i class="fa fa-map-marker fa-5x"></i>
                      </div>
                      <div class="form-pane-text col-sm-10">
                        <span class="form-section-title-small" class="form-section-title-small"><%= t :location %></span><br>
                        Escribe tu dirección y ciudad y comprueba que aparece correctamente en el mapa!</div>

                      </div>
                    </div>
                    

                    <%= f.input :address, { placeholder: "Address" } %>
                    <%= f.input :city, { class: 'cities', placeholder: "City" } %>
                   
                    <div class="control-group">
                      <%= link_to content_tag(:i, "   Refresh location", :class => "fa fa-refresh", :title => "Refresh location", rel: 'tooltip'), "#", 
                      :class=>  "btn btn-default hidden", 
                      :id=>"refresh_location" %>
                    </div>

                    <div class = "hidden">
                      <%= f.input :longitude %>
                      <%= f.input :latitude %>
                    </div>
                  </div>

                  <div class="tab-pane" id="form-market-coupon" > 
                    <div class="form-intro-pane">
                      <div class="row">
                        <div class="form-pane-image col-sm-2">
                          <i class="fa fa-ticket fa-5x"></i>
                        </div>
                        <div class="form-pane-text col-sm-10">
                          <span class="form-section-title-small"><%= t :coupon_pro %></span><br>
                          Para ofrecer servicos extras a tus clientes puedes emitir un cupón.
                          <br><i class="fa fa-arrow-circle-right"></i> <%= link_to "How it works?", sell_coupon_terms_path %>
                        </div>
                      </div>
                    </div>
                    <%= f.simple_fields_for :coupon do |form_builder| %>
                    <%= render 'coupons/forms/form', f: form_builder %>
                    <% end %>
                  </div>
                  <div id="small-map-container"><%= render "markets/shared/utils/mapsmall" %></div>
                </div>
              </div>
            </div>
            <%= f.button :submit, class: 'btn', id: 'market-save-button' %>
          </div>
          <%= save_and_publish_button(f, market) %>

          <% end %>

          <div class="center">
            <%= back_link %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var suggested_tags_path = "<%= suggested_tags_path %>";
var form_date_template = '<%= j render "markets/shared/forms/form_date" %>';
var locale = "<%= params['language'] %>"; 
var passedDates = "";
var passedSchedule = "";
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>


<%= javascript_include_tag "bootstrap-datepicker/core" %>
<%= javascript_include_tag "bootstrap-datepicker/locales/bootstrap-datepicker.es" %>
<%= stylesheet_link_tag "bootstrap-datepicker" %>

<%= javascript_include_tag "jquery.ui.slider" %>
<%= stylesheet_link_tag "jquery.ui.slider" %>

<%= javascript_include_tag "tagmanager" %>
<%= stylesheet_link_tag  "tagmanager" %>

<%= javascript_include_tag "twitter/typeahead.min" %>


<%= javascript_include_tag "market_form" %>


<% market.human_readable_schedule.each do |day| %> 

<% if day["passed"] %>
  <script>  
  var day = "<%= day['day'] %>";
  var string = "<%= day['to_string'] %>";
  passedDates = passedDates + day + "," ;
  passedSchedule = passedSchedule + string + ";";
  </script>
<% else %>
  <script>  
  var day = "<%= day['day'] %>";
  var init = "<%= day['from'] %>";
  var end =  "<%= day['to'] %>";
  addEditableDate(day, init, end);
  </script>
<% end %>

<% end %>


<script> 
// Error if no name is provided
$(".simple_form").submit(function(){
 if( $("#market_name").val().length == 0 ) {
  $("#error").removeClass("hidden");
  $("#error").html("<%= t :Market_name_cannot_be_empty %>");
  return false;
  }
else{
    try{
      var dates = collectNewDates();
      $('#market_date').val(passedDates + serializeDates(dates));
      $('#market_schedule').val(passedSchedule + serializeSchedules(dates));
      $("#error").html("");
      downcase_tags();
    } catch(em){
      console.log(em);
    }
  }
});
$("#refresh_location").click(updateLocationData);
$('#market_address').keypress(function(){$("#refresh_location").removeClass('hidden')});
$('#market_city').keypress(function(){$("#refresh_location").removeClass('hidden')});

$("#discard").click(function(){
    if(!confirm("<%= t :discard_changes %>"))
      return false;

});

</script>
