<%= form_tag search_markets_path, id: "search_market", class:"search-form" do %>
    
    <% if search_or_map_page? %>
        <li class="form-group search-filter-item">
          <%= link_to content_tag(:i, "", :class => "fa fa-refresh"), "#", 
            :class=>  "btn btn-default btn-reset-search", 
            :id=>"reset_search" %>
        </li>

        <li class="form-group hidden">
          <%= collection_select(:category, :category_id, Category.all, :name, :name, 
            {:include_blank => "All categories", :selected => session[:category]}, 
            class: "category form-control" ) %>
        </li>

        <li class="form-group search-filter-item" id="search-range-item">
          <%= select_tag(:range, 
            options_for_select({t(:all_time) => "All", t(:today) => "Today", 
                                t(:this_week) => "This week", t(:this_month) => "This month", 
                                t(:next_week) => "Next week"},
            :selected => session[:range]),
            class: "form-control" ) %>
        </li>

        <li class="form-group search-filter-item" id="search-location-item">
          <%= collection_select(:location, :location_id, SpecialLocation.all, 
            :name, :name, {:selected => session[:location], 
            :include_blank => t(:Any_location)},
            class: "form-control" ) %>
        </li>

        <li class="form-group search-filter-item" id="my-location-item">
          <%= link_to content_tag(:i, "", :class => "fa fa-crosshairs"), "#", 
            :class=>  "btn btn-default btn-my-location-search", 
            :id=>"my_location" %>
        </li>

        <div class="hidden">
          <%= text_field_tag :from %>  
          <%= text_field_tag :to %>  
          <%= text_field_tag :user_lat %>  
          <%= text_field_tag :user_lon %>
          <%= text_field_tag :page, session[:page] || 1 %>
        </div>
    <% end %>


    <div class="hidden">
      <%= text_field_tag :query, session[:query] %>
    </div>

<% end %>

<% if search_or_map_page? %>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script> 

    function pos_success(pos){
      var crd = pos.coords;
      reverseGeocode(crd.latitude, crd.longitude)
      $("#user_lat").val(crd.latitude);
      $("#user_lon").val(crd.longitude);
      $('#location_location_id').append("<option value='My location'><%= t :My_location %></option>");
    };

    function pos_error(){
      $("#user-city-text").html("<i class='fa fa-exclamation-triangle'></i> <%= t :enable_browser %>");
    };


    function user_localization(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(pos_success, pos_error);
      }
      else{
        pos_error();
      }
    }

 

    $(document).ready(function(){

      $("#search_market").keypress(function(e) {
          event.preventDefault();
          return false;
      });

      user_localization();

      $("#reset_search").click(function(){
          $("#range").val("All");
          $("#query").val("");
          $("#search_bar_query").val("");
          $("#location_location_id").val("");
          $("#category_category_id").val("");
          $('#page').val(1);
          $(".btn-all-categories").click();
          return false;
      });

      $("#range").change(setDataRange);
      setDataRange();
      
      $(".btn-my-location-search").click(function(){
          $("#location_location_id").val("My location").change();
      });

      setCategoryMapStyle();
    });
  </script>
<% end %>