<%= form_tag search_markets_path, id: "search_market", class:"search-form" do %>
    
    <% if search_or_map_page? %>
        <li class="form-group search-filter-item">
          <%= link_to content_tag(:i, "", :class => "fa fa-refresh"), "#", 
            :class=>  "btn btn-default btn-reset-search", 
            :id=>"reset_search" %>
        </li>

        <li class="form-group hidden">
          <%= collection_select(:category, :category_id, Category.all, :name, :name, 
            {:include_blank => "All categories", :selected => session[:category]}, 
            class: "category form-control" ) %>
        </li>

        <li class="form-group search-filter-item" id="search-range-item">
          <%= select_tag(:range, 
            options_for_select({t(:all_time) => "All", t(:today) => "Today", 
                                t(:this_week) => "This week", t(:this_month) => "This month", 
                                t(:next_week) => "Next week"},
            :selected => session[:range]),
            class: "form-control" ) %>
        </li>

        <li class="form-group search-filter-item" id="search-location-item">
          <%= collection_select(:location, :location_id, SpecialLocation.all, 
            :name, :name, {:selected => session[:location], 
            :include_blank => t(:Any_location)},
            class: "form-control" ) %>
        </li>

        <li class="form-group search-filter-item" id="search-address-item">
         <%= text_field_tag :address, 
            session[:address], 
            placeholder: t(:search_by_address), 
            class: "form-control", 
            id: "address-query" %>
        </li>

        <li class="form-group search-filter-item hidden" id="my-location-item">
          <%= link_to content_tag(:i, "", :class => "fa fa-crosshairs"), "#", 
            :class=>  "btn btn-default btn-my-location-search", 
            :id=>"my_location" %>
        </li>

        <div class="hidden">
          <%= text_field_tag :from %>  
          <%= text_field_tag :to %>  
          <%= text_field_tag :user_lat %>  
          <%= text_field_tag :user_lon %>
          <%= text_field_tag :lat %>  
          <%= text_field_tag :lon %>
          <%= text_field_tag :page, session[:page] || 1 %>
        </div>
    <% end %>


    <div class="hidden">
      <%= text_field_tag :query, session[:query] %>
    </div>

<% end %>

<% if search_or_map_page? %>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script> 

    function pos_success(pos){
      var crd = pos.coords;
      reverseGeocode(crd.latitude, crd.longitude)
      $("#user_lat").val(crd.latitude);
      $("#user_lon").val(crd.longitude);
      $("#my-location-item").removeClass("hidden")
    };

    function pos_error(){
      $("#user-city-text").html("<i class='fa fa-exclamation-triangle'></i> <%= t :enable_browser %>");
    };


    function user_localization(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(pos_success, pos_error);
      }
      else{
        pos_error();
      }
    }
    
    var addressSearch = function(){
      if($("#address-query").val()){
        geocode($("#address-query").val());
      }
    }

    $("#address-query").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        addressSearch();
        return false;
      }
    });

    $("#address-query").blur(addressSearch);
    
    function geocode(place){
       geocoder = new google.maps.Geocoder();
       geocoder.geocode({ 'address': place}, 
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var lat = results[0].geometry.location.k;
            var lon = results[0].geometry.location.A;

            $("#lat").val(lat);
            $("#lon").val(lon);

            $("#location_location_id option[value='My location']").remove();
            $("#location_location_id option[value='Custom location']").remove();

            $('#location_location_id').append("<option value='Custom location'><%= t :Custom_location %></option>").val('Custom location');
            try{
              centerMap("Custom location");
            }catch(err) {};
            $("#search_market").change();
          }
        }
        );
    };

    function removeLocationData(){
          $("#address-query").val("");
          $("#location_location_id option[value='My location']").remove();
          $("#location_location_id option[value='Custom location']").remove();
    }

    $(document).ready(function(){

      $("#search_market").keypress(function(e) {
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });

      user_localization();

      $("#reset_search").click(function(){
          $("#range").val("All");
          $("#query").val("");
          $("#search_bar_query").val("");
          $("#location_location_id").val("");
          $("#category_category_id").val("");
          $('#page').val(1);
          removeLocationData();
          $(".btn-all-categories").click();
          return false;
      });

      $("#range").change(setDataRange);

      setDataRange();

      $("#location_location_id").change(function(){
          removeLocationData();
          try{
            centerMap($(this).val());
          }catch(err) {};
      });
      
      $(".btn-my-location-search").click(function(){
        removeLocationData();
        $('#location_location_id').append("<option value='My location'><%= t :My_location %></option>").val("My location");
        try{
          centerMap("My location");
        }catch(err) {};

        $("#search_market").change();
      });

      setCategoryMapStyle();
    });
  </script>

<% end %>