
<div class ="home_gallery_title"><i class="fa fa-dashboard fa-5x"></i> <br/>Dashboard<br><%= user_role(current_user) %></div>
<div class="container">

	<div class="row">

		
		<div class="pricing-table">

			<div class="plan col-sm-6">
				<div class="plan-name-basic">
					<h2>Regular Plan</h2>
					<span>Free</span>
				</div>
				<ul>
				<li class="plan-feature"><span class="fa fa-check-circle"></span> 1 mercado / mes</li>
				<li class="plan-feature"><span class="fa fa-check-circle"></span> Mercados que duran 1 semana </li>
				</ul>
			</div>

			<div class="plan col-sm-6">
				<div class="plan-name-premium">
					<h2>Pro Plan</h2>
					<span>4.99€ / Month</span>
				</div>
				<ul>
				<li class="plan-feature"><span class="fa fa-check-circle"></span> Mercados ilimitados </li>
				<li class="plan-feature"><span class="fa fa-check-circle"></span> Mercados que duran hasta 30 días </li>
	            <li class="plan-feature"><span class="fa fa-check-circle"></span> Todos tus mercados son VIM </li>
	            <li class="plan-feature"><span class="fa fa-check-circle"></span> Markets sin anuncios. </li>
	            <li class="plan-feature"><span class="fa fa-check-circle"></span> Estadisticas de tus mercados a tiempo real</li>
	            <li class="plan-feature"><span class="fa fa-check-circle"></span> Creación de cupones</li>
	            <li class="plan-feature"><span class="fa fa-check-circle"></span> Unsubscribirte en un solo click</li>
	          <% if !current_user.has_role?(:premium) &&  !current_user.has_role?(:admin) %>
		          <%= form_tag user_subscription_path(@user), method:"get" do %>

				            <p><input type="checkbox" required name="premium_accept_term" id="accept_terms" > I accept the <%= link_to "terms of use.", go_premium_terms_path %></p>
									<%= submit_tag "Become premium", class: 'btn btn-info' %>
							<% end %>
						<% end %>
						 <% if current_user.has_role?(:premium) %>
						  			<%= link_to "Unsubscribe", unsubscribe_path, { method: :post, class: 'btn btn-info unsubscribe-button' } %>
						<% end %>
				</ul>
			</div>
	    </div>
    </div>
</div>
