<%= page_title(user_role(current_user), "fa-dashboard") %>

<div class="panel-body">

    <div class="center">
        <p>You have published: <%= current_user.number_of_last_month_markets %> market(s) during the last month</p>
        <p>You can publish: <%= current_user.remaining_markets  %> market(s)</p>
    <div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 dashboard-column">

        <%= big_user_link(Market) %>
       
        <%= link_to user_likes_path(current_user), class:"dashboard-button btn btn-lg" do %>
          <i class="fa fa-heart-o fa-4x"></i> <br/> Likes
        <% end %>

        <%= big_user_link(Bargain) %>

        <%= big_user_link(Wish) %>
        

        <%= link_to bought_coupons_by_user_path(current_user), class:"dashboard-button btn btn-lg" do %>
          <i class="fa fa-ticket fa-4x"></i> <br/> Coupons
        <% end %>
        
        <%= link_to user_path(current_user), :method => :get, class:"dashboard-button btn btn-lg" do %>
          <i class="fa fa-user fa-4x"></i> <br/> Profile
        <% end %>

        <%= link_to user_photos_path(current_user), class:"dashboard-button btn btn-lg" do %>
          <i class="fa fa-camera fa-4x"></i> <br/> Photos
        <% end %>
        
        <% if current_user.has_role?(:premium) %>
          <%= link_to show_user_statistic_path(current_user), class:"dashboard-button btn btn-lg" do %>
            <i class="fa fa-tasks fa-4x"></i> <br/> Statistics
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>