<%= simple_form_for(@special_location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :latitude, input_html: { class: 'hidden' } %>
    <%= f.input :longitude, input_html: { class: 'hidden' }  %>
    <%= f.input :photo, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <%= render "markets/shared/mapsmall" %>
<% end %>


<script>
$( document ).ready(function() {
  $('.attachinary-input').attachinary();
});
</script>