<div class="form-group">
  <%= f.input :name, { placeholder: t(:name).capitalize } %>
</div>

<div class="form-group">
  <%= f.input :address, { placeholder: t(:address).capitalize } %>
</div>

<div class="form-group">
  <%= f.input :city, { placeholder: t(:city).capitalize } %>
</div>

<div class=" form-group">
  <%= f.input :latitude, :readonly => true %>
</div>

<div class=" form-group">
  <%= f.input :longitude, :readonly => true %>
</div>

<div class=" form-group">
  <%= t(:important) %>
  <%= f.input :important, as: :boolean,  inline_label: true  %>
</div>

<div class="form-group">
  <p> <%= t(:featured) %> </p> 
  <%= f.simple_fields_for :photography do |form_builder| %>
    <%= render 'photos/form', f: form_builder, required: true %>
  <% end %>
</div>

<div class="form-group">
  <%= render "markets/shared/utils/mapsmall" %>
</div>