<div class="form-group">
  <%= f.input :name, { placeholder: "Name" } %>
</div>

<div class="form-group">
  <%= f.input :address, { placeholder: "Address" } %>
</div>

<div class="form-group">
  <%= f.input :city, { placeholder: "City" } %>
</div>

<div class=" form-group">
  <%= f.input :latitude, :readonly => true %>
</div>

<div class=" form-group">
  <%= f.input :longitude, :readonly => true %>
</div>

<div class="form-group">
  <%= f.simple_fields_for :photography do |form_builder| %>
    <%= render 'photos/form', f: form_builder, required: true %>
  <% end %>
</div>

<div class="form-group">
  <%= render "markets/shared/utils/mapsmall" %>
</div>