<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>

<%= simple_form_for(@special_location) do |f| %>
  <%= f.error_notification %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= action %> Location</h3>
        </div>
        <div class="panel-body">
          <fieldset>
          <div class="form-group">
            <%= f.input :name, { placeholder: "Name" } %>
          </div>
          <div class="form-group">
            <%= f.input :address, { placeholder: "Address" } %>
          </div>
          <div class="form-group">
            <%= f.input :city, { placeholder: "City" } %>
          </div>
          <div class=" form-group">
            <%= f.input :latitude %>
          </div>
          <div class=" form-group">
            <%= f.input :longitude %>
          </div>
          <div class="form-group">
            <%= f.simple_fields_for :photography do |form_builder| %>
              <%= render 'photos/form', f: form_builder, required: true %>
            <% end %>
          </div>
          <div class="form-group">
            <%= render "markets/shared/utils/mapsmall" %>
          </div>
          <div class="form-group col-md-4 col-md-offset-4">
            <%= f.button :submit, class:"btn btn-info" %>
          </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
$( document ).ready(function() {
  initializeAutocomplete("special_location_city");
  
  $('#special_location_address').blur(function () {updateLocationData();});

  $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
  });
});


// ------------
// SPECIAL LOCATIONS
// ------------

var initializeAutocomplete = function(input_id) {
  autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById(input_id)),
    {
      types: ['(cities)']
    });
   google.maps.event.addListener(autocomplete, 'place_changed', function() {
    updateLocationData();
  });
};

var updateLocationData = function(){
  if(addressAndCityAreFilled()) geocode();
};

var addressAndCityAreFilled = function(){
  return $('#special_location_address').val() && $('#special_location_city').val();
};


function geocode(){
 geocoder = new google.maps.Geocoder();
  var address =  $('#special_location_address').val() + ", " + $('#special_location_city').val();
  geocoder.geocode({ 'address': address}, 
    function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      setLocation(results[0].geometry.location.lat(), 
                  results[0].geometry.location.lng());
    }
    else{
        $("#special_location_latitude").val("error");
        $("#special_location_longitude").val("error");
      }
    });
  };

 function setLocation(lat, lng){
    $("#special_location_latitude").val(lat);
    $("#special_location_longitude").val(lng);
    if (PM.marker)  PM.map.removeLayer(PM.marker);
    PM.addMarker([lat, lng], false);
    PM.map.setView([lat, lng], 16);
  };

</script>