<%= page_title(t(:hotspots), SpecialLocation.icon) %>

<div class = "market_gallery row">    
  <% @special_locations.each do |special_location| %>
    <%= content_tag_for(:tr, special_location) do %>
      <div class = "market_item col-md-4">
        <%= link_to map_path(location: special_location.name) do %>
          <div class = "show gallery_market_featured_photo" data-name="<%= special_location.name %>">
            <%=  photo(special_location.photography, 300) %>
            <div class="market-gallery-extra hotspot-extra">
              <%= special_location.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
