
<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">
    Hot Spots <%= link_to content_tag(:i, "", class: "fa fa-plus"), new_special_location_path, 
      class: "btn btn-info table-button table-button-new new"%>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Actions</th>
    </tr>
  
    <% @special_locations.each do |special_location| %>
      <%= content_tag_for(:tr, special_location) do %>
        <td class="col-md-2"> 
        <div class="table-photo-container">
          <%= photo(special_location.photo, 120, 60) %>
          <%= link_to content_tag(:i, "", class: "fa fa-pencil"), edit_photo_special_location_path(special_location), class: "btn btn-info btn-xs table-photo-edit" %>
        </div>
        </td>
        <td class="col-md-2"> <%= special_location.name %> </td>
        <td class="col-md-2"> <%= special_location.address %> </td>
        <td class="col-md-2"> <%= special_location.city %> </td>
        <td class="col-md-1 table-latlng"> <%= special_location.latitude %> </td>
        <td class="col-md-1 table-latlng"> <%= special_location.longitude %> </td>
        <td class="col-md-2"> 
          <span> <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), special_location, :method => :delete, class: "delete btn btn-danger table-button table-button-delete" %> </span>
          <span> <%= link_to content_tag(:i, "", class: "fa fa-pencil"), edit_special_location_path(special_location), class: "edit btn btn-info table-button table-button-edit" %></span> 
        </td>
      <% end %>
    <% end %>
  </table>
</div>

<script>
  $(document).ready(function(){
    buttonHover(".table-button-new", "fa-plus", "New Hot Spot", 140);
    buttonHover(".table-button-delete", "fa-trash-o", "Delete", 85);
    buttonHover(".table-button-edit", "fa-pencil", "Edit", 70);
    
    $(".table-latlng").each(function(){
      var $this = $(this);
      $this.html($this.html().substring(0,8));
    });
  });
  
  var buttonHover = function(button, icon, text, width){
    $(button).hover(function(){
      $(this).html("<i class='fa " + icon + "'></i>&nbsp;&nbsp;" + text);
      $(this).animate({
        width: width
      }, 100);
    }, function(){
      $(this).html("<i class='fa " + icon + "'></i>");
      $(this).animate({
        width: "40"
      }, 100);
    });
  };
</script>
