<% @special_locations.each do |special_location| %>
  <li class="registered-user-action">
<!--   	<a class="explore-link-hotspots" href="<%= map_path %>" data-name="<%= special_location.name %>">
      <%= special_location.name %>
      <i class="fa fa-angle-right explore-arrow"></i>
    </a> -->
  <%=  link_to "", :controller => "static_pages", :action => "map", :location => special_location.name do %>
  	<%= special_location.name %>
    <i class="fa fa-angle-right explore-arrow"></i>
  <% end %>
  </li>
<% end %>
