<% if coupon.available > 0 %>
  <div id = "buy-coupon-action">
		<%= form_tag({controller: "coupons", action: "coupon_payment"}, method: "post") do %>
		<%= select_tag "number", options_for_select((1..coupon.available)), class:"form-control"  %>
		<%= submit_tag "Buy", class:"btn btn-info coupon-buy-button" %>
		<%= field_set_tag do %>
  		<%= check_box_tag "buy_accept_term" %> I accept the 
  		<%= link_to "terms of use.", buy_coupon_terms_path %>
		<% end %>
	</div>
<% end %>
<% else %>
   Sold out
<% end %>