<% if !coupon.empty? %>
  <%= div_for coupon do %>
    <strong> Coupon Description: </strong>  <span> <%= coupon.description %> </span> <br>
    <strong> Coupon Price: </strong>  <span> <%= coupon.price %> </span> <br>
    <strong> Available: </strong> <span> <%= coupon.available %> </span>
  <% end %>
<% else %>
  <%= "Remember to create a coupon to offer extra services in your market" if coupon.market.pro? %>
  <%= "Upgrade your market to offer coupons" if !coupon.market.pro? %>
<% end %>