<div class="row">
  <div class="col-md-4 col-md-offset-1 market-photo">  
    <%= photo(coupon.photography, 300) %>
    <%= render partial: 'photos/utils/actions', locals: { photo: coupon.photography} %>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <%= render "coupons/views/description", coupon: coupon %>

    <% if !coupon.available.nil? && coupon.available > 0  %>
      <strong> <%= t(:available).capitalize %>: </strong> 
      <span> <%= coupon.available %> </span> 
    <% else %>
      <span> Sold out </span>
    <% end %>
    <br>
    
    <% if buy %>
      <%= render "coupons/forms/buy_coupon", coupon: @coupon %>
    <% else %>
      <%= coupon.market.decorate.buy_coupon_link %>
    <% end %>
  </div>
</div>
  