<%= div_for coupon do %>
  <ul>
  <li> <span> Coupon owner: </span> <span> <%= coupon.market.user.email %> </span> </li>
  <li>  <%= photo(coupon.photo, 200, 100) %> </li>
  <li> <span> Market: </span> <span> <%= link_to coupon.market.name, market_path(coupon.market) %> </span> </li>
  <li> <span> Coupon Description: </span>  <span> <%= coupon.description %> </span> </li>
  <li> <span> Coupon Price </span>  <span> <%= coupon.price %> </span> </li>
  <li> <span> Available</span> <span> <%= coupon.available %> </span> </li>
  <li>  <%= link_to "trasactions", coupon_transactions_path(coupon) %> </span> </li>
  </ul>
<% end %>