<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">
    Sold coupons of closed markets
  </div>

<% page = params['page'] || 1 %>


<div class="center">
  <%= link_to "<", last_transactions_path(:page => page.to_i - 1) if !@first_page %>
  <%= link_to ">", last_transactions_path(:page => page.to_i + 1) if !@last_page %>
</div>

  <table class="table table-striped">
    <tr>
      <th class="col-md-1">Coupon Transactions</th>
      <th class="col-md-1"># Trans.</th>
      <th class="col-md-1">Last date</th>
      <th class="col-md-1"><%= t(:market).capitalize %></th>
      <th class="col-md-1"> Owner </th>
      <th class="col-md-1">Paid by customers</th>
      <th class="col-md-1">Coupon value</th>
      <th class="col-md-1">We receive</th>
      <th class="col-md-1">We pay</th>
      <th class="col-md-1">Seller receives</th>
      <th class="col-md-1">Our benefit (before tax)</th>
    </tr>
    <% @coupons.each do |coupon| %>
      <tr id="coupon-<%= coupon.id %>">
        <td>
          <%= link_to coupon.description, sold_coupons_by_market_path(coupon.market) %>
        </td>
        <td>
          <%= coupon.transactions.count %>
        </td>
        <td class="passed-<%= coupon.market.passed? %>">
          <%= coupon.market.last_date %> <%= ", passed" if  coupon.market.passed? %>
        </td>
        <td> 
          <%= link_to coupon.market.name, coupon.market %>
        </td>
        <td> 
          <%= link_to coupon.market.user.email, coupon.market.user %>
        </td>
        <%= render partial: "coupons/transactions/digest", locals: { coupon: coupon }%>
      </tr>
    <% end %>
  </table>
</div>
<style>
.passed-false{
  color: green;
}
.passed-true{
  color: red;
}
</style>