<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">
    Sold coupons of closed week markets
  </div>

  <table class="table table-striped">
    <tr>
      <th class="col-md-5">Description</th>
      <th class="col-md-4"><%= t(:market).capitalize %></th>
      <th class="col-md-3">Total</th>
    </tr>
    <% @coupons.each do |coupon| %>
      <tr id="coupon-<%= coupon.id %>">
        <td>
          <span><%= coupon.description %></span>
        </td>
        <td> 
          <%= link_to coupon.market.name, coupon.market %>
        </td>
        <td>
          <span class="total"><%= coupon.transactions_total %></span>
        </td>
      </tr>
    <% end %>
  </table>
</div>
