<%= page_title(t(:coupons).capitalize, Coupon.icon) %>
<%=  page =  params['page'] || 1 %>


<div class="center">
  <%= link_to "<", coupons_gallery_path(:page => page.to_i - 1) if !@first_page %>
  <%= link_to ">", coupons_gallery_path(:page => page.to_i + 1) if !@last_page %>
</div>


<div class="container main-container">
  <% @coupons.each do |coupon| %> 
    <div class="panel panel-default panel-table">
      <div class="market-section-container row market-coupon">
        <div class="market-list-section-container">
          <%= render coupon, buy: false %>
        </div>
      </div>
    </div>
  <% end %>
</div>
