
<ul>
<li> <span> Market: </span> <span> <%= @market.name %> </span> </li>
<li> <span> Coupon Description: </span>  <span> <%= @coupon.description %> </span> </li>
<li> <span> Coupon Price </span>  <span> <%= @coupon.price %> </span> </li>
<li> <span> Number of available</span> <span> <%= @coupon.available %> </span> </li>
</ul>

<% if @coupon.available > 0 %>
  <div id = "buy-coupon-action">
   <%= form_tag(controller: "coupons", action: "buy", method: "get") do %>
   <%= select_tag "number", options_for_select((1..@coupon.available))  %>
   <%= submit_tag "Buy" %>
   <% end %>
  </diV>
<% else %>
  Sold out
<% end %>