<ul>
<li> <span> Market: </span> <span> <%= @coupon.market.name %> </span> </li>
<li> <span> Coupon Description: </span>  <span> <%= @coupon.description %> </span> </li>
<li> <span> Coupon Price </span>  <span> <%= @coupon.price %> </span> </li>
<li> <span> Available</span> <span> <%= @coupon.available %> </span> </li>
</ul>

<%= render "form", :coupon => @coupon %>

<% if @coupon.market.user == current_user %>
  <%= render "transactions", :transactions => @coupon.transactions %>
<% end %>