<h2>Add market</h2>
<%= simple_form_for [user, market], 
  :html => {"data-tags" => "#{raw_tags(market)}", role: "form"}  do |f| %>
  <%= f.input :name, input_html: { class: 'market-name' }%>
  <%= f.input :description, label_html: { class: 'market-description' } %>
  <%= f.association :category, :include_blank => false %>
  <%= f.input :featured, as: :attachinary %>
  <div id = "form-market-location"> 
    <%= f.input :address %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
  </div>
  <%= f.input :date, input_html: { "data-behaviour" => 'datepicker' } %>  
  <%= f.input :tags, input_html: { class: 'tm-input typeahead', placeholder: "Tags" } %>
  <%= f.button :submit %>
<% end %>

<%= render "markets/shared/mapsmall" %>