<%= simple_form_for [user, market], 
    :html => {"data-tags" => "#{raw_tags(market)}", role: "form"}  do |f| %>
    <div id="wizard">
    
        <h3>Name and description</h3>
        <section>  
        <%= f.input :name, input_html: { class: 'market-name' }%>
        <%= f.input :description, :as => :text, label_html: { class: 'market-description' } %>
        </section>
        
        <h3>Featured photo</h3>
        <section>
        <%= f.input :featured, as: :attachinary %>
        </section>


        <h3>Category and tags</h3>
        <section>
        <%= f.association :category, :include_blank => false %>

        <%= f.input :tags, input_html: { class: 'tm-input', placeholder: "Tags" } %>
        <p id="tags-container"></p>
        </section>


        <h3>Date</h3>
        <section>
        <%= f.input :date %> 
        <div id="datepicker"><div></div>
        </div>

        </section>

        <h3>Location</h3>
        <section id = "form-market-location"> 
          <%= f.input :address %>
          <%= f.input :longitude %>
          <%= f.input :latitude %>
        </section>
    </div>
        <%= f.button :submit, class: 'btn'%>
<% end %>
<section>
<%= render "markets/shared/mapsmall" %>
</section>
<script>

$( document ).ready(function() {
      $("#wizard").steps({
          headerTag: "h3",
          bodyTag: "section",
          transitionEffect: "slideLeft",
          stepsOrientation: 1,
          enableFinishButton: false,
          enablePagination: false,
          enableAllSteps: true

      });

      $('#datepicker div').datepicker({
          weekStart: 1,
          startDate: "today",
          endDate: "+1m",
          language: "es",
          multidate: true,
          todayHighlight: true
      }).on('changeDate', function(e){
          console.log(e.dates);
      });

   $('.attachinary-input').attachinary();

   var tagApi = jQuery(".tm-input").tagsManager({
      prefilled: $( "form" ).data( "tags"),
      delimiters: [13, 44],
      tagClass: "tm-tag",
      tagsContainer: '#tags-container'
    });

  var tags = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 15, 
    prefetch: {
      url: '/tags/index.json',
    }
  });
 
  tags.initialize();
 
  $('.tm-input').typeahead(null, {
    name: 'tags',
    displayKey: 'name',
    hint: true,
    highlight: true,
    minLength: 1,
    source: tags.ttAdapter(),
  });

});
</script>
