<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>
<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">
    Market
  </div>
<div id="wizard" class="row">
  <ul class="col-md-3">
    <li id="form-link-name"><a href="#form-market-name-description" data-toggle="tab">Name and description</a></li>
    <li id="form-link-featured"><a href="#form-market-photo" data-toggle="tab">Featured photo</a></li>

    <% if market.pro? %>
      <li id="form-link-gallery" class="enabled"><a href="#form-market-photos" data-toggle="tab">Photo gallery (PRO)</a></li>
    <% else %>
      <li id="form-link-gallery" class="disabled"><a href="#" data-toggle="">Photo gallery (PRO)</a></li>
    <% end %>
    
    <li id="form-link-category"><a href="#form-market-category-tag" data-toggle="tab">Category and tags</a></li>
    <li id="form-link-date"><a href="#form-market-date" data-toggle="tab">Date</a></li>
    <li id="form-link-location"><a href="#form-market-location" data-toggle="tab">Location</a></li>

    <% if market.pro? %>
      <li id="form-link-coupon" class="enabled"><a href="#form-market-coupon" data-toggle="tab">Coupon (PRO)</a></li>
    <% else %>
      <li id="form-link-coupon" class="disabled"><a href="#" data-toggle="">Coupon (PRO)</a></li>
    <% end %>
    
  </ul>
  <%= simple_form_for [user, market], 
      :html => {"data-tags" => "#{raw_tags(market)}", role: "form", novalidate: true}  do |f| %>

    <div class="tab-content col-md-9">
      <div class="tab-pane" id="form-market-name-description"> 
        <%= f.input :name, input_html: { class: 'market-name', placeholder: "Name" }%>
        <%= f.input :description, :as => :text, label_html: { class: 'market-description', placeholder: "Description" } %>
      </div>
      
      <div class="tab-pane" id="form-market-photo">
        <%= f.input :featured, as: :attachinary %>
      </div>
    
      <div class="tab-pane" id="form-market-photos">
        <%= f.input :photos, as: :attachinary %>
      </div>

      <div class="tab-pane" id="form-market-category-tag">
        <%= f.association :category, :include_blank => false %>
        <%= f.input :tags, input_html: { class: 'tm-input', placeholder: "Tags" } %>
        <p id="tags-container"></p>
      </div>
  
      <div class="tab-pane" id="form-market-date">
        <%= f.input :date, input_html: { class: 'hidden' }  %> 
        <div id="datepicker"></div>
      </div>
  
      <div class="tab-pane" id = "form-market-location" > 
        <%= f.input :address, { placeholder: "Address" } %>
        <%= f.input :city, { class: 'cities', placeholder: "City" } %>
        <div class = "hidden">
        <%= f.input :longitude %>
        <%= f.input :latitude %>
        </div>
      </div>
  
      <div class="tab-pane" id = "form-market-coupon" > 
         <%= f.simple_fields_for :coupon do |c| %>
          <%= c.input :description, { placeholder: "Description" } %>
          <%= c.input :price, { placeholder: "Price" } %>
          <%= c.input :available, { placeholder: "Available" } %>
          <%= c.input :photo, as: :attachinary %>
        <% end %>
      </div>
      <div id="small-map-container"><%= render "markets/shared/mapsmall" %></div>
    </div>
    <%= f.button :submit, class: 'btn hidden', id: 'market-save-button' %>
  </div>
<% end %>
</div>

<script>

$( document ).ready(function() {
      initializeAutocomplete('market_city');

      $('#wizard').bootstrapWizard({
        tabClass: 'nav nav-pills nav-stacked',
        onTabChange: function(){
          locationTabActive();
        }
      });
  
      $(".add_market_button").addClass("btn-success");
      $(".add_market_button").removeClass("btn-info");
      $(".add_market_button").val("Save");
      $(".add_market_button").click(function(){
        $("#market-save-button").click(); 
        return false;
      });

      $("input").change(function(){
        formChanged();
      });

      getDatesSelected($('#market_date').val());

      $('#datepicker').datepicker({
          weekStart: 1,
          startDate: "today",
          endDate: "+1m",
          language: "es",
          multidate: true,
          todayHighlight: true
      }).on('changeDate', function(e){
          fillInputWithDates(e);
          formChanged();
      });

      if (areDatesSelected($('#market_date').val()))
        $('#datepicker').datepicker('setDates', getDatesSelected($('#market_date').val()));

   $('.attachinary-input').attachinary();



   var tagApi = jQuery(".tm-input").tagsManager({
      prefilled: $( "form" ).data( "tags"),
      delimiters: [13, 44],
      tagClass: "tm-tag",
      tagsContainer: '#tags-container'
    });

  var tags = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 3, 
    prefetch: {
      url: '/tags.json',
      filter: function(list) {
        return $.map(list, function(tag) { return { name: tag }; });
      }
    }
  });
 
  tags.initialize();
 
  $('.tm-input').typeahead(null, {
    name: 'tags',
    displayKey: 'name',
    hint: true,
    highlight: true,
    minLength: 1,
    source: tags.ttAdapter(),
  });

  $('#market_address').blur(function () {
    updateLocationData();
  });
});

var locationTabActive = function(){
  if ($("#form-market-location").hasClass("active")){
    $("#small-map-container").show();
  }
  else{
    $("#small-map-container").hide();
  }
  
};

var initializeAutocomplete = function(input_id) {
  autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById(input_id)),
    {
      types: ['(cities)']
    });
  
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    updateLocationData();
  });
};

var areDatesSelected = function(datesString){
  return datesString != "";
};
var stringToDate = function(data){
  return moment(data, 'DD/MM/YYYY').toDate();
};
var getDatesSelected = function(datesString){
  var datesSelected = datesString.split(","); 
  var dates  = new Array(); 
  for(i = 0; i < datesSelected.length; i++)
    dates.push(stringToDate(datesSelected[i]));
  return dates;
};

var fillInputWithDates = function(data){
  dateString = moment(data.dates[0]).format('DD/MM/YYYY');
  for (i = 1; i < data.dates.length; i++){
    (function(i){
      dateString += "," + moment(data.dates[i]).format('DD/MM/YYYY');
    })(i);
  }
  $('#market_date').val(dateString);
};

var updateLocationData = function(){
  if (addressAndCityAreFilled())
    getLocationFromAddress(encodeAddressToUrl());
};

var addressAndCityAreFilled = function(){
  return $('#market_address').val() && $('#market_city').val();
};

var encodeAddressToUrl = function(){
  var encodedAddress = encodeURIComponent($('#market_address').val());
  var encodedCity = encodeURIComponent($('#market_city').val());
  var addressUrl = "https://maps.googleapis.com/maps/api/geocode/json?address=" + encodedAddress + "%20" + encodedCity + "&sensor=false&key=AIzaSyBkhXw8kMql7c4tc1LwaMGbm9024z03AKU";
  return addressUrl;
};

var getLocationFromAddress = function(url){
  var lat, lng;
  $.getJSON(url, function(data){
    lat = data.results[0].geometry.location.lat;
    lng = data.results[0].geometry.location.lng;
    $("#market_latitude").val(lat);
    $("#market_longitude").val(lng);
    if (PM.marker) {
      PM.map.removeLayer(PM.marker);
    }
    PM.addMarker([lat, lng], false);
    PM.map.setView([lat, lng], 14);
  });
};

var formChanged = function(){
  $(".add_market_button").addClass("btn-warning");
  $(".add_market_button").removeClass("btn-success");
  $(".button_to").exBounce();
};

$.fn.exBounce = function(){
  var self = this;
  (function runEffect(){
      self.effect("bounce", { times:3, distance: 5 }, 1000, runEffect);
  })();
  return this;
};

</script>
