<div class = "market_gallery">
  <% markets.each do |market| %>
    <% market = market.decorate %>
    <%= link_to market do %>
      
    <%= content_tag_for(:tr, market) do %>
      <div class = "market_item">
      
        <div class = "market_featured_photo">
          <div class="market-gallery-badge">
            <div class="ribbon-badge <%= market.badges %>">
              <span id="market-badge-text"></span>
            </div>
          </div>
          <%= photo(market.featured, 300, 150) %>
          <div class = "market_name_label">
            <%= market.name %>
          </div>
          <div class = "market_description_label">
            <%= market.description %>
          </div>
          <span class="like-badge"><i class="fa fa-heart"></i></span>
        </div> 
      </div>
    <% end %>
    <% end %>
  <% end %>
</div>

<script>
  $(".market-gallery-badge").each(function(){
    if ($(".ribbon-badge", this).hasClass("staff_pick")){
      $(".ribbon-badge", this).addClass("ribbon-badge-staff_pick");
      $(".ribbon-badge>#market-badge-text", this).text("STAFF PICK");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("sample")){
      $(".ribbon-badge", this).addClass("ribbon-badge-sample");
      $(".ribbon-badge>#market-badge-text", this).text("SAMPLE");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("pro")){
      $(".ribbon-badge", this).addClass("ribbon-badge-pro");
      $(".ribbon-badge>#market-badge-text", this).text("PRO");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("new_market")){
      $(".ribbon-badge", this).addClass("ribbon-badge-new");
      $(".ribbon-badge>#market-badge-text", this).text("NEW");
      $(this).show();
    }
  });
</script>