<div class = "market_gallery">
  <% markets.each do |market| %>
    <% market = market.decorate %>
    <%= link_to market do %>
      
    <%= content_tag_for(:tr, market) do %>
      <div class = "market_item">
      
        <div class = "market_featured_photo">
           <div class="wrapper-ribbon-badge"><div class="ribbon-badge ribbon-badge-new">NEW</div></div>
           <!-- <div class="wrapper-ribbon-badge"><div class="ribbon-badge ribbon-badge-premium">PREMIUM</div></div>
           <div class="wrapper-ribbon-badge"><div class="ribbon-badge ribbon-badge-pro">PRO</div></div> -->
          <%= photo(market.featured, 300, 150) %>
          <div class = "market_name_label">
            <%= market.name %>
          </div>
          <div class = "market_description_label">
            <%= market.description %>
          </div>
          <span class="like-badge"><i class="fa fa-heart"></i></span>
        </div> 
      </div>
    <% end %>
    <% end %>
  <% end %>
</div>