<div class = "market_gallery">
  <% markets.each do |market| %>
    <% market = market.decorate %>
    <%= content_tag_for(:tr, market) do %>
      <div class = "market_item">
      <%= link_to market do %>
        <div class = "show market_featured_photo">

          <div class="market-gallery-badge">
            <div class="ribbon-badge <%= market.badges %>">
              <span id="market-badge-text"></span>
            </div>
          </div>

          <%= market.market_featured_photo_filtered(300, 150) %>

          <div class = "market_name_label">
            <%= market.name %>
          </div>
          <div class = "market_description_label">
            <%= market.description %>
          </div>

          <span class="like-badge"><i class="fa fa-heart"></i></span>
          
        </div> 
      <% end %>

        <div class="market-gallery-extra">
          <%= market.address %>, <%= market.city %><br>
          <%= market.market_date_highlight %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>