<div class = "market_gallery">
  <% markets.each do |market| %>
    <% market = market.decorate %>
    <%= link_to market do %>
      
    <%= content_tag_for(:tr, market) do %>
      <div class = "market_item">
      
        <div class = "market_featured_photo">
          <div class="badger-right badger-warning" data-badger="New"></div>
          <%= photo(market.featured, 300, 150) %>
          <div class = "market_name_label">
            <%= market.name %>
          </div>
          <div class = "market_description_label">
            <%= market.description %>
          </div>
          <div class="market-like-button"><i class="fa fa-heart"></i></div>
        </div> 
      </div>
    <% end %>
    <% end %>
  <% end %>
</div>