<%= form_tag search_markets_path, method: "get", id: "search_market" do %>
  <div "form-inputs">
    <div class="query">
      <p>Query:</p> <%= text_field_tag :query, params[:query] %>
    </div>

    <div class="category">
      <p>Category:</p>
      <%= collection_select(:category, :category_id, Category.all, :name, :name, 
                          {:selected => @category_query, :include_blank => ""}) %>
    </div>

    <div class="date-range">
        <p>From:</p> <%= text_field_tag :from, params[:from], data: {:behaviour => 'datepicker'} %>  
        <p>To:</p> <%= text_field_tag :to, params[:to], data: {:behaviour => 'datepicker'} %>  
    </div>

    <%= select_tag(:range, options_for_select([['Today', 'today'], 
                                              ['This week', 'thisWeek'], 
                                              ['This month', 'thisMonth'], 
                                              ['Next week', 'nextWeek'], 
                                              ['All', 'all'] ]) ) %>
  </div>                                        
  <div "form-actions">
    <%= submit_tag "Search", name: nil %>
  </div>
<% end %>