
  <%= form_tag search_markets_path, id: "search_market", class:"form-inline" do %>

    <%= link_to content_tag(:i, "", :class => "fa fa-refresh"), "#", :class=>  "btn btn-default btn-reset-search", :id=>"reset_search" %>
    <li class="form-group hidden">
      <%= text_field_tag :query, session[:query], placeholder: "Query...", class: "query form-control"  %>
    </li>

    <li class="form-group hidden">
      <% selection = session[:category_id] %>
      <% selection ||= "" %>
      <%= collection_select(:category, :category_id, Category.all, :name, :name, 
                          {:include_blank => "All categories", :selected => selection}, class: "category form-control" ) %>
    </li>


    <li class="form-group">
        <%= select_tag(:range, options_for_select(['All',
                                              'Today', 
                                              'This week', 
                                              'This month', 
                                              'Next week' 
                                              ], :selected => session[:range]), class: "form-control" ) %>      

     </li>

     <li class="form-group">
      <% selection =  session[:location_id] %>
      <% selection ||= "" %>

      <%= collection_select(:location, :location_id, SpecialLocation.all, :name, :name, {:selected => selection, :include_blank => "Any location"}, class: "form-control" ) %>

     
     </li>

     <li class="form-group">
      <%= collection_select(:city, :city_name, [], :name, :name, 
                          {:include_blank => "Any city"}, class: "form-control" ) %>

     </li>

    <li class="date-range hidden">
      <%= text_field_tag :from, session[:from]%>  
      <%= text_field_tag :to, session[:to]%>  
    </li>
    

    <li class="user-location hidden">
      <%= text_field_tag :user_lat %>  
      <%= text_field_tag :user_lon %>
    </li>

    <li class="page hidden" >
      <%= text_field_tag :page, session[:page] || 1 %>  
    </li>

    <%= submit_tag "Search", name: nil, class: "hidden" %>
  <% end %>

  
<script>

  $.getJSON('/cities.json', function(data){
      var html = '';
      var len = data.length;
      for (var i = 0; i< len; i++) {
          html += '<option value="' + data[i] + '">' + data[i] + '</option>';
      }
      $('#city_city_name').append(html);

      <% selection =  session[:city_name] %>
      <% selection ||= "" %>

      $('#city_city_name').val("<%= selection %>");

  });


  function pos_success(pos){
    var crd = pos.coords;
    var addressUrl = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + crd.latitude + "," + crd.longitude + "&sensor=false&key=AIzaSyBkhXw8kMql7c4tc1LwaMGbm9024z03AKU";
      getCityName(addressUrl);
      $("#user_lat").val(crd.latitude);
      $("#user_lon").val(crd.longitude);
      $('#location_location_id').append("<option value='My location'>My location</option>");
  };

  function append_location_option(){

  }

  function pos_error(){
    $("#user-city-text").html("<i class='fa fa-exclamation-triangle'></i>  Enable browser location for better experience");
  };


  function getCityName(url){
    $.getJSON(url, function(data){
      city = data.results[0].address_components[2].long_name;
      $("#user-city-text").html("<i class='fa fa-crosshairs'></i>&nbsp;&nbsp;" + city);
    });
  };


  $(document).ready(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(pos_success, pos_error);
    }
    else {
      $("#user-city-text").html("<i class='fa fa-exclamation-triangle'></i>  Enable browser location for better experience");
    }
 
    $("#reset_search").click(function(){
        $("#range").val("All");
        $("#query").val("");
        $("#search_bar_query").val("");
        $("#location_location_id").val("");
        $("#city_city_name").val("");
        $("#category_category_id").val("");
        $('#page').val(1);
        $('#search_market').change();
      return false;
    });

    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        $('#search_market').change();
          return false;
        }
    });


  });


</script>