<h2>Search</h2>

<div class="col-md-4">
  <%= form_tag search_markets_path, method: "get", id: "search_market" do %>
    <div class="form form-inputs">
      <div class="form-group query ">
        <%= text_field_tag :query, params[:query], placeholder: "Query...", class: "form-control"  %>
      </div>

      <div class="category form-group">
        <%= collection_select(:category, :category_id, Category.all, :name, :name, 
                            {:selected => @category_query, :include_blank => ""}, class: "form-control" ) %>
      </div>

      <div class="date-range">
          <p>From:</p> <%= text_field_tag :from, params[:from], data: {:behaviour => 'datepicker'} %>  
          <p>To:</p> <%= text_field_tag :to, params[:to], data: {:behaviour => 'datepicker'} %>  
      </div>


      <div class="form-group">
      <%= select_tag(:range, options_for_select([['Today', 'today'], 
                                                ['This week', 'thisWeek'], 
                                                ['This month', 'thisMonth'], 
                                                ['Next week', 'nextWeek'], 
                                                ['All', 'all'] ]), class: "form-control" ) %>
      <div class="form-group">
        
    </div>                                        
    <div id="search-button" class="form-actions">
      <%= submit_tag "Search", name: nil %>
    </div>
  <% end %>
  </div>
  