
  <%= form_tag search_markets_path, id: "search_market", class:"form-inline" do %>
    <li class="form-group">
      <%= text_field_tag :query, params[:query], placeholder: "Query...", class: "query form-control"  %>
    </li>

    <li class="form-group">
      <% selection = params[:category][:category_id] if params[:category].present? %>
      <% selection ||= "" %>
      <%= collection_select(:category, :category_id, Category.all, :name, :name, 
                          {:include_blank => "All categories", :selected => selection}, class: "category form-control" ) %>
    </li>


    <li class="form-group">
        <%= select_tag(:range, options_for_select(['Today', 
                                              'This week', 
                                              'This month', 
                                              'Next week', 
                                              'All'],  :selected => params[:range]), class: "form-control" ) %>      

     </li>

     <li class="form-group">

      <% selection =  params[:location][:location_id] if params[:location].present? %>
      <% selection ||= "" %>

      <%= collection_select(:location, :location_id, SpecialLocation.all, :name, :name, {:selected => selection, :include_blank => "Any location"}, class: "form-control" ) %>

     
     </li>

     <li class="form-group">
      <%= collection_select(:city, :city_name, [], :name, :name, 
                          {:include_blank => "Any city"}, class: "form-control" ) %>

     </li>

    <li class="date-range hidden">
      <%= text_field_tag :from, params[:from]%>  
      <%= text_field_tag :to, params[:to]%>  
    </li>

    <%= submit_tag "Search", name: nil %>

  <% end %>


<script>

  $.getJSON('/cities.json', function(data){
      var html = '';
      var len = data.length;
      for (var i = 0; i< len; i++) {
          html += '<option value="' + data[i] + '">' + data[i] + '</option>';
      }
      $('#city_city_name').append(html);

      <% selection =  params[:city][:city_name] if params[:city].present? %>
      <% selection ||= "" %>

      $('#city_city_name').val("<%= selection %>");

  });
</script>