<div class="item">
	<%= content_tag_for(:tr, market) do %>
    	<%= link_to market do %>
    		<%= photo(market.featured, 480, 360)%>
    		<div class = "market_name_label">
            <%= market.name %>
          </div>
          <div class = "market_description_label">
            <%= market.description %>
          </div>
    	<% end %>
    <% end %>     
</div>