<% markets.each do |market| %>
  <% market = market.decorate %>
  <div class="panel panel-default panel-table" id="market_<%= market.id %>">
    <div class="panel-heading table-title">
      <div class="market-title-container">
        <div class="market-title col-md-6"><%= market.link(market.name)%></div>
        <div class="market-actions col-md-6">
          <div class="market-actions-links">
            <%= market.actions %>
          </div>
        </div>
      </div>
    </div>

    <div class="market-list-each-container">
      <div class = "col-md-8">
        <div class="market-list-section-title">Information</div>
        <div class="market-list-section-container">
          <div class = "market-list-section-container-inner">
            <div class = "col-md-4">
              <%= market.market_featured_photo_filtered(200, 100) %>
            </div>
            <div class = "col-md-8">
              Description: <%= market.description %> <br>
              External url: <%= market.url %> <br>
              State: <%= market.state %> <br>
              Owner: <%= market.owner %> <br>
              Category: <%= market.category_name %> <br>
              Tags: <%= market.tags %> <br>
              Address: <%= market.address %>, <%= market.city %> <br>
              <div class="hidden">
                <%= market.latitude %>
                <%= market.longitude %> 
              </div>
              Date: <%= market.date %> <br>
              <div class="like-counter"> <%= market.favorited.count %> Likes </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="market-list-section-title">Coupon</div>
        <div class="market-list-section-container">
          <%= photo(market.coupon.photography, 100, 50) if market.coupon? %>
          <%= link_to market.coupon.description, coupon_path(market.coupon) if market.coupon? %><br>
          <%= market.coupon.available if market.coupon? %><br>
          <%= market.coupon.price if market.coupon? %><br>
        </div>
      </div>

      <div class="market-list-badge">
        <div class="ribbon-badge <%= market.badges %>">
          <span id="market-badge-text"></span>
        </div>
      </div>

    </div>
  </div>
<% end %>
<div class="market-list-bottom"></div>
<script>
  $(document).ready(function(){
    buttonHover(".like-icon", "fa-heart", "Like", 75);
    buttonHover(".unlike-icon", "fa-heart-o", "Unlike", 85);
    buttonHover(".edit-icon", "fa-pencil", "Edit", 70);
    buttonHover(".delete-icon", "fa-trash-o", "Delete", 85);
    buttonHover(".archive-icon", "fa-undo", "Archive", 95);
  });

  $(".market-list-badge").each(function(){
    if ($(".ribbon-badge", this).hasClass("passed")){
      $(".ribbon-badge>#market-badge-text", this).text("PASSED");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("staff_pick")){
      $(".ribbon-badge>#market-badge-text", this).text("STAFF PICK");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("sample")){
      $(".ribbon-badge>#market-badge-text", this).text("SAMPLE");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("pro")){
      $(".ribbon-badge>#market-badge-text", this).text("PRO");
      $(this).show();
    }
    else if ($(".ribbon-badge", this).hasClass("new_market")){
      $(".ribbon-badge>#market-badge-text", this).text("NEW");
      $(this).show();
    }
  });

  var buttonHover = function(button, icon, text, width){
    $(button).hover(function(){
      $(this).html("<i class='fa " + icon + "'></i>&nbsp;&nbsp;" + text);
      $(this).animate({
        width: width
      }, 100);
    }, function(){
      $(this).html("<i class='fa " + icon + "'></i>");
      $(this).animate({
        width: "40"
      }, 100);
    });
  };
  
</script>

<style>
@media (max-width: 992px){
  .market-actions{
    text-align: left;
  }
}
</style>