<strong> <%= t :Description %>: </strong>  <span> <%= coupon.description %> </span> <br>
<strong> <%= t :Price %>: </strong>  <span> <%= coupon.price %> € </span> <br>
<strong> <%= t :Available %>: </strong> <span> <%= coupon.available %> </span> <br>