<%= stylesheet_link_tag "change_role" %>

<%= page_title(t(:change_user_role), "fa-refresh") %>

<div class="container user-session">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table-last change-role-panel">
        <div class="panel-body">
          <p><%= t(:user).capitalize %>: <%= @user.email %><p>
          <% @user.available_roles.each do |role| %>
            <p>
            <%= link_to t(:make) + " " + t(role), user_role_path(@user, :new_role => role), 
            :method => :put, :class => "btn btn-info" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>