<%= page_title(user_role(current_user), "fa-dashboard") %>

<% if !current_user.profile_completed? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 center alert alert-danger flash">
      <%= t(:profile_not_complete) %>
      <strong>
        <%= link_to t(:complete_your_profile), edit_user_path(current_user) %>
      </strong>
    </div>
  </div>
<% end %>

<div class="container main-container">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 center">

        <%= current_user_dashboard_link("user_markets_path", t(:markets).capitalize, Market.icon) %>

        <%= current_user_dashboard_link("user_likes_path", t(:likes).capitalize, "fa-heart-o") %>

        <%= current_user_dashboard_link("user_bargains_path", t(:bargains).capitalize, Bargain.icon) %>

        <%= current_user_dashboard_link("user_wishes_path", t(:wishes).capitalize, Wish.icon) %>

        <%= current_user_dashboard_link("bought_coupons_by_user_path", t(:coupons).capitalize, "fa-ticket") %>

        <%= current_user_dashboard_link("user_path", t(:profile).capitalize, "fa-user") %>

        <%= current_user_dashboard_link("user_photos_path", t(:photos).capitalize, "fa-camera") %>

        <%= current_user_dashboard_link("show_user_statistic_path", t(:stats).capitalize, "fa-tasks") if current_user.can_see_markets_stats? %>

      </div>
    </div>
  </div>
</div>