<%= action_title(entity.class) %>

<%= simple_form_for(entity) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
              <fieldset>
                <%= render "form_fields", f: f %>
                
              </fieldset>
              <div class="form-group center">
                <%= f.submit t(action_button).capitalize, class:"btn btn-info" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="center">
  <%= back_link %>
<div>