<div class="form-group payment-form">
  <%= hidden_field_tag "paymill_card_token" %>
  <%= hidden_field_tag "total-price", "#{payment.total_price}" %>
  <%= hidden_field_tag "quantity", "#{payment.quantity}" %>

  <%= text_field_tag "name", nil, placeholder: t(:card_holder_name), size: 50, class: "form-control" %>
  </div>
  
  <div class="form-group payment-form">
    <%= text_field_tag "card_number", nil, placeholder: t(:card_number), size: 16, class: "form-control"  %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= t(:expiration_month) %>:<br>
        <select id="expiration_month" class="exp-month-selector form-control">
          <%= ('1'..'12').to_a.each do |m| %>
            <%= options_for_select([[m, m]], :selected => Time.now.month) %>
          <% end %>
        </select>
      </div>
      <div class="col-md-5">
        <%= t(:expiration_year) %>: <br>
        <select id="expiration_year" class="exp-year-selector form-control">
          <%= (Time.now.year..Time.now.year+20).to_a.each do |y| %>
            <%= options_for_select([[y, y]], :selected => Time.now.year) %>
          <% end %>
        </select>
      </div>
      <div class="col-md-3">
        CVC:<br>
        <input id="cvc" class="cvc-input form-control" type="password" size="3" maxlength="3"></input>
      </div>
    </div>

  <script>
    var invalid_card_holder_name = '<%= t(:invalid_card_holder_name) %>';
    var you_must_accept_terms_and_conditions = '<%= t(:you_must_accept_terms_and_conditions) %>';
    var invalid_expiry_date = '<%= t(:invalid_expiry_date) %>';
    var invalid_card_number = '<%= t(:invalid_card_number) %>';
  </script>

  <%= javascript_include_tag "https://bridge.paymill.com/" %>
  <%= javascript_include_tag "paymill_bridge_adapter" %>
  </div>
</div>