<div class="col-md-6" >
  <%= market.market_like_count %> <br> 
  <strong> <%= t :Description %></strong> <%= market.direct_edit_link("form-market-description") %>:<%= market.description %> <br> 
  <strong> <%= t :Category %></strong> <%= market.direct_edit_link("form-market-category-tag") %>: <%= market.category_name %> <br>

  <% if cannot? :edit, market %>
    <strong> <%= t :Owner %> </strong> <%= link_to market.owner, user_markets_path(market.user) %> <br>
  <% end %>

  <% if market.has_prices? %>
    <strong> <%= t :Prices %>  </strong><%= market.direct_edit_link("form-market-prices") %>: <%= market.min_price %> € - <%= market.max_price %> € <br>
  <% end %>

  <strong> <%= t :tags %> </strong><%= market.direct_edit_link("form-market-date") %> : <%= market.hashtags %> <br>
  <strong> <%= t :Address %> </strong><%= market.direct_edit_link("form-market-location") %>: <%= market.address %>, <%= market.city %> <br>
  <!-- <strong> Date: </strong> <%= market.date %> <br> -->

  <strong> <%= t "External url" %></strong> <%= market.direct_edit_link("form-market-external-url") %>: <a href="<%=  market.url %>" target="_blank"><%=  market.url %></a> <br>
  <strong> <%= t "Social link" %></strong> <%= market.direct_edit_link("form-market-external-url") %>:   <a href="<%=  market.social_link %>" target="_blank"><%=  market.social_link %></a> <br>

  <div class="hidden">
    <%= market.latitude %>
    <%= market.longitude %> 
  </div> 
  </div>


<div class="col-md-6">
  <strong> <%= t "Schedule" %>  <span class:"market-schedule-string"> </strong> <%= market.direct_edit_link("form-market-date") %>:</span><br>
    

    <% prevDate = nil %>
    <% market.human_readable_schedule.each do |day| %>
        <% if prevDate && prevDate == day["date"] %>
          <%= append_date(day) %> 
        <% else %>
         </br>  <%= format_date(day) %> 
        <% end %>
        <%  prevDate = day["date"] %>
    <% end %>

</div>

<script>
  $(document).ready(function(){
    var scheduleString = $(".market-schedule-string").text();
    var scheduleItems = scheduleString.split(";");
    $.each(scheduleItems, function(i, val){
        valArray = val.split(",");
        scheduleItems[i] = valArray[0]+", "+valArray[1]+" to "+valArray[2];
    });
      $(".market-schedule-detail").html(scheduleItems.join("<br>"));
  });
</script>