
<%= market.market_like_count %> <br> 
<strong>  Decription: </strong> <%= market.description %> <br> 
<strong> Category: </strong> <%= market.category_name %> <br>

<% if cannot? :edit, market %>
  <strong> Owner: </strong> <%= link_to market.owner, user_markets_path(market.user) %> <br>
<% end %>

<strong> Prices: </strong> <%= market.min_price %> € - <%= market.max_price %> € <br>
<strong> <%= t :tags %>: </strong> <%= market.hashtags %> <br>
<strong> Address: </strong> <%= market.address %>, <%= market.city %> <br>
<!-- <strong> Date: </strong> <%= market.date %> <br> -->
<strong> <%= t "Schedule" %>: <span class:"market-schedule-string"> </strong> </span><br>
<% market.human_readable_schedule.each do |day| %> 
  <%= day["day"].to_formatted_s(:rfc822)  %>, <%= day["from"] %> - <%= day["to"] %> <br>
<% end %>
<strong> <%= t "External url" %>:</strong>  <a href="<%=  market.url %>" target="_blank"><%=  market.url %></a> <br>
<strong> <%= t "Social link" %>:</strong>  <a href="<%=  market.social_link %>" target="_blank"><%=  market.social_link %></a> <br>

<div class="hidden">
  <%= market.latitude %>
  <%= market.longitude %> 
</div>

<script>
  $(document).ready(function(){
    var scheduleString = $(".market-schedule-string").text();
    var scheduleItems = scheduleString.split(";");
    $.each(scheduleItems, function(i, val){
        valArray = val.split(",");
        scheduleItems[i] = valArray[0]+", "+valArray[1]+" to "+valArray[2];
    });
      $(".market-schedule-detail").html(scheduleItems.join("<br>"));
  });
</script>