<div class="row">
<div class="col-md-6" >
  <strong> <%= t :Category %></strong>: <%= market.category_name %> <br>
  <strong> <%= t :Prices %></strong>: <%= market.min_price %> € - <%= market.max_price %> € <br>

  <strong> <%= t "External url" %></strong>: <a href="<%=  market.url %>" target="_blank"><%=  market.url %></a> <br>
  <strong> <%= t "Social link" %></strong>:   <a href="<%=  market.social_link %>" target="_blank"><%=  market.social_link %></a> <br>
</div>

<div class="col-md-6">
  <strong> <%= t "Schedule" %>  <span class:"market-schedule-string"> </strong>:</span><br>
    <% prevDate = nil %>
    <% market.human_readable_schedule.each do |day| %>
        <% if prevDate && prevDate == day["date"] %>
          <%= append_date(day) %> 
        <% else %>
         </br>  <%= format_date(day) %> 
        <% end %>
        <%  prevDate = day["date"] %>
    <% end %>
</div>
</div>

<script>
  $(document).ready(function(){
    var scheduleString = $(".market-schedule-string").text();
    var scheduleItems = scheduleString.split(";");
    $.each(scheduleItems, function(i, val){
        valArray = val.split(",");
        scheduleItems[i] = valArray[0]+", "+valArray[1]+" to "+valArray[2];
    });
      $(".market-schedule-detail").html(scheduleItems.join("<br>"));
  });
</script>