<div class="panel-heading table-title">
  
  <div class="row">
    <div class="market-title col-md-4">
      <%= market.link(market.formatted_market_name)%>  
    </div>
    
    <div class="market-actions col-md-8">
      <%= market.social_links %>
      <%= market.like_link %>
    </div>
  </div>
  
  <div class="row">
    <div class="market-actions col-md-12">
      <%= market.poster_link %>
      <%= market.actions %>
    </div>
  </div>

</div>