<div class="panel-heading table-title">
  <div class="market-title-container row">
    <div class="market-title col-md-4">
    <%= market.link(market.formatted_market_name)%>  
    </div>
    <div class="market-actions col-md-8">
      <%= market.like_link %>
      <%= market.social_links %>
      <%= market.poster_link %>
    
    </div>
  </div>
    <div class="market-actions-links">
        <%= market.actions %>
      </div>
</div>
