<%= javascript_include_tag "attachinary" %>

<% required ||= false %>

<div class="form-group">
  <%= f.attachinary_file_field(:photo, 
    :cloudinary => { :transformation => {:width=>800, 
    :height =>800, :quality => 50, :crop=>:limit }}) %>
</div>

<script>
  $( document ).ready(function() {
    $('.attachinary-input').attachinary();
  
    $('.attachinary-input').fileupload({
        progressall: function (e, data) {
          $('#progress').removeAttr( 'style' );
          var progress = parseInt(data.loaded / data.total * 100, 10);
          try{
            if(progress >= 100){
              $("#progress").html('<%=t(:upload_progress_done)%>');
              setTimeout(function() {
                $('#progress').fadeOut('slow');
              }, 1000); 
            }
            else{
              $("#progress").html('<%=t(:upload_progress)%>' + progress + ' %]');
            }
          }catch(ex){}
        },
        add: function(e, data) {
          if(data.originalFiles[0]['size'] > 1000000) {
              alert("<%= t(:filesize_is_too_big) %>");
          }
          else {
              data.submit();
          }
      }
    });
  });
</script>

<% if required %>
  <script>
    $('.simple_form').submit(function(){
      if(!$('.attachinary_container input').val()){
        alert("<%= t(:image_cannot_be_empty) %>");
        return false;
      }
    });
  </script>
<% end %>  