<table class="table table-striped">
<tr>
  <th>Photo</th>
</tr>

<% @photos.each do |photo| %>
    <%= content_tag_for(:tr, photo) do %> 
    <td class="col-md-2"> 
      <div class="table-photo-container">
        <%= photo(photo, 300, 150, :pad) %>
        <%= edit_photo_link(photo) %>
        <span> <%= photographic_link(photo) %></span>

         <span> <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), photo, :method => :delete, class: "delete btn btn-danger table-button table-button-delete", data: { confirm: 'Are you sure?'} %> </span>
      </div>
    </td>
  <% end %>
<% end %>
</table>
<%= paginate @photos %>
