<div class="home_gallery">

<% @photos.each do |photo| %>
    <%= content_tag_for(:tr, photo) do %> 
    <div class="home_gallery_item"> 
      <div class="home_gallery_featured_photo">
        <%= photo(photo, 300, 150) %>
        <%= edit_photo_link(photo) %>
        <%= photographic_link(photo) %>
         <span> <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), photo, :method => :delete, class: "delete btn btn-danger btn-xs table-photo-delete", data:{ confirm: 'Are you sure?'} %> </span>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<div class="paginate">
  <%= paginate @photos %>
</div>
