<div class="panel panel-default panel-table panel-table-last">
  
<%= form_tag crop_photo_path(@photo), id: "crop_image_form" do %>
    <%= text_field_tag(:x) %>
    <%= text_field_tag(:y) %>
    <%= text_field_tag(:w) %>
    <%= text_field_tag(:h) %>
    <%= submit_tag "Save"%>
<% end %>

  <div class="panel-heading table-title">
	<%= cl_image_tag(@photo.photo.path, {:class => "cropper"}) %>
  </div>
  <table class="table table-striped">
	<tr>
	  <th>X1</th>
	  <th>Y1</th>
	  <th>X2</th>
	  <th>Y2</th>
	  <th>Width</th>
	  <th>Height</th>
	</tr>
  
		<td class="col-md-2"> <span id="dataX1"></span> </td>
		<td class="col-md-2"> <span id="dataY1"></span> </td>
		<td class="col-md-2"> <span id="dataX2"></span> </td>
		<td class="col-md-2"> <span id="dataY2"></span> </td>
		<td class="col-md-2"> <span id="dataWidth"></span>  </td>
		<td class="col-md-2"> <span id="dataHeight"></span> </td>
  </table>
</div>

<script>
	var $image = $(".cropper"),
		$dataX1 = $("#dataX1"),
		$dataY1 = $("#dataY1"),
		$dataX2 = $("#dataX2"),
		$dataY2 = $("#dataY2"),
		$dataHeight = $("#dataHeight"),
		$dataWidth = $("#dataWidth");
	
	$image.cropper({
		aspectRatio: 16 / 9,
		preview: ".extra-preview",
		done: function(data) {
			$dataX1.text(data.x1);
			$dataY1.text(data.y1);
			$dataX2.text(data.x2);
			$dataY2.text(data.y2);
			$dataHeight.text(data.height);
			$dataWidth.text(data.width);
		}
	});

	$("#crop_image_form").submit(function() {
		$("#x").val($("#dataX1").html());
		$("#y").val($("#dataY1").html());
		$("#w").val($("#dataWidth").html());
		$("#h").val($("#dataHeight").html());
	});

</script>

<style>
	.cropper-container{
		margin-top: -15px;
		margin-bottom: 30px;
		height: 400px;
	}
</style>