
<div class = "home_gallery_title"><i class="fa fa-camera-retro fa-2x"></i> <br/>Edit photo</div>

<div class="container user-session">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table-last edit-photo-panel">
        <div class="panel-body">
          <%= cl_image_tag(@photo.photo.path, {:class => "cropper"}) %>
          <%= form_tag crop_photo_path(@photo), id: "crop_image_form" do %>
						<div class="hidden">
					    <%= text_field_tag(:x) %>
					    <%= text_field_tag(:y) %>
					    <%= text_field_tag(:w) %>
					    <%= text_field_tag(:h) %>
					  </div>
					  <div class="photo-submit-button">
					  	<%= submit_tag "Save", class:"btn btn-success" %>
					  </div>
					<% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
	
	var $image = $(".cropper"),
		$dataX1 = $("#x"),
		$dataY1 = $("#y"),
		$dataHeight = $("#h"),
		$dataWidth = $("#w");
	
	<% if !@photo.crop.nil? %>
		_x1 = <%=	 @photo.crop["x"] %>;
		_y1 = <%=	 @photo.crop["y"] %>;
		_width = <%= @photo.crop["w"] %>;
		_heigth = <%=	@photo.crop["h"] %>;
	<% else %>
		_x1 = 50;
		_y1 = 50;
		_width = 200;
		_heigth = 200;
	<% end %>

	$image.cropper({
		aspectRatio: 2 / 1,
		preview: ".extra-preview",
		data: {x1: _x1, y1: _y1, width: _width, height: _heigth},
		done: function(data) {
			$dataX1.val(data.x1);
			$dataY1.val(data.y1);
			$dataHeight.val(data.height);
			$dataWidth.val(data.width);
		}
	});

</script>

<style>
	.edit-photo-panel{
		text-align: center;
	}

	.cropper-container{
		margin-top: -25px;
	}

	.photo-submit-button{
		padding-top: 40px;
	}
</style>