<%= javascript_include_tag "cropper" %>
<%= stylesheet_link_tag"cropper" %>

<%= page_title(t("Edit photo"), "fa-camera-retro") %>

<div class="main-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table-last">
        <div class="panel-body">

          <%= cl_image_tag(@photo.photo.path, { quality: 50, :class => "cropper"}) %>
          <%= form_tag crop_photo_path(@photo), id: "crop_image_form" do %>
            <div class="hidden">
              <%= text_field_tag(:x) %>
              <%= text_field_tag(:y) %>
              <%= text_field_tag(:w) %>
              <%= text_field_tag(:h) %>
            </div>  
            <div class="center form-group " id="crop-button">
                <%= submit_tag "Save", class:"btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="center">
         <%= back_link %>
      </div>
    </div>
  </div>
</div>


<script>
  var $image = $(".cropper"),
    $dataX1 = $("#x"),
    $dataY1 = $("#y"),
    $dataWidth = $("#w"),
    $dataHeight = $("#h");
    $scale = 1 ;

  <% if @photo.crop.present? %>
    _x1 = parseInt(<%=  @photo.crop["x"] %> / $scale);
    _y1 = parseInt(<%=  @photo.crop["y"] %> / $scale);
    _width = parseInt(<%= @photo.crop["w"] %> / $scale);
    _heigth = parseInt(<%= @photo.crop["h"] %> / $scale);
  <% else %>
    _x1 = $dataX1 || 0;
    _y1 = $dataY1 || 0;
    _width = $dataWidth || 100;
    _heigth = $dataHeight || 100;
  <% end %>

  $image.cropper({
    aspectRatio: <%= @photo.aspect_ratio %>,
    data: {x1: _x1, y1: _y1, width: _width, height: _heigth},
    done: function(data) {
      $dataX1.val(parseInt(data.x1 * $scale ));
      $dataY1.val(parseInt(data.y1 * $scale ));
      $dataWidth.val(parseInt(data.width * $scale ));
      $dataHeight.val(parseInt(data.height * $scale ));
    }
  });
</script>

<style>
#crop-button{
  margin-top: 80px;
}
</style>
  