<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">Photos</div>
  <table class="table table-striped">
  <tr>
    <th>Photo</th>
  </tr>
  
  <% @photos.each do |photo| %>
    <%= content_tag_for(:tr, photo) do %> 
    <td class="col-md-2"> 
      <div class="table-photo-container">
        <%= photo(photo, 300, 150) %>
        <%= edit_photo_link(photo) %>
        <%= link_to "Resource", photo.photographic %>
        <%= link_to "Delete", delete_photo(photo) %>
      </div>
    </td>
    <% end %>
  <% end %>
  </table>
</div>
