<div class="table-photo-container">
  <%= div_for @photo do %> 
    <%= photo(@photo, 800, 400, nil, :pad) %>
    <%= edit_photo_link(@photo) %>
    <%= photographic_link(@photo) %>
  <% end %>
</div>

<%= all_photos_link %>
<%= user_photos_link(current_user) %>