<td class="total">
  <%= coupon.paid.round(2) %> €
</td>
 <td >
  <%= coupon.value.round(2) %> €
</td>
<td>
  <%= coupon.after_paymill.round(2) %> €
</td>
<td>
  <%= coupon.to_pay.round(2) %> €
</td>
<td>
  <%= coupon.market_income.round(2) %> €
</td>
<td>
  <%= coupon.benefit.round(2) %> €
</td>