<table class="table">
  <tr>
    <th class="col-md-2"><%= t(:transaction_id) %></th>
    <th class="col-md-2"><%= t(:market).capitalize %></th>
    <th class="col-md-1"><%= t(:seller).capitalize %></th>
    <th class="col-md-1"><%= t(:buyer).capitalize %></th>
    <th class="col-md-2"><%= t(:description).capitalize %></th>
    <th class="col-md-1"><%= t(:price).capitalize %></th>
    <th class="col-md-1"><%= t(:number_of_coupons) %></th>
    <th class="col-md-1"><%= t(:total).capitalize %></th>
    <th class="col-md-1"></th>
  </tr>

  <% @transactions.each do |transaction| %>
      <%= content_tag_for(:tr, transaction) do %>
        <% if !transaction.coupon.nil? %>

          <td class="transaction_id"> <%= transaction.id %> <br> <%= transaction.created_at %> </td>
  
          <td> <%= link_to  transaction.coupon.market.name, transaction.coupon.market  %> </td>

          <td class="seller"> 
            <% if current_user != transaction.coupon.market.user %>
              <%= link_to transaction.coupon.market.user.name, transaction.coupon.market.user %>
            <% else %> 
              <%= t(:you) %> 
            <% end %>
          </td>

          <td class="buyer"> 
            <% if current_user !=  transaction.user %>
              <%= link_to transaction.user.name, transaction.user %>
            <% else %> 
              <%= t(:you) %>
            <% end %>
          </td>

          <td> <%= transaction.coupon.description %> </td>
          <td> <%= transaction.coupon.price %>€ </td>

          <td> <%= transaction.number %> </td>
          <td> <%= transaction.value %> €
 
            <% if current_user.has_role? :admin %>
              <br>   
              <%= transaction.paid.round(2) %> €
              <br>
              <%= transaction.after_paymill.round(2) %> € </b> 
            <% end %>

          </td>
          
          <td>
            <% if can? :see_localizador, transaction %>
              <%= link_to t(:locator).capitalize, localizador_path(transaction) %>
            <% end %>
          </td>

        
      <% end %>
    <% end %>
  <% end %>
</table>

<% if current_user.has_role? :admin %>
  <h3> Accumulated </h3>
  <table class="table table-striped">
    <tr>
      <th class="col-md-1">Paid by customers</th>
      <th class="col-md-1">Coupon value</th>
      <th class="col-md-1">We receive</th>
      <th class="col-md-1">We pay</th>
      <th class="col-md-1">Seller receives</th>
      <th class="col-md-1">Our benefit (before tax)</th>
    </tr>
    <tr>
    <%= render partial: "coupons/transactions/digest", locals: { coupon:  @transactions.first.coupon }%>
    </tr>

  </table>
<% end %>