<table class="table">
  <tr>
    <th class="col-md-2"><%= t(:transaction_id) %></th>
    <th class="col-md-2"><%= t(:market).capitalize %></th>
    <th class="col-md-1"><%= t(:buyer).capitalize %></th>
    <th class="col-md-1"><%= t(:seller).capitalize %></th>
    <th class="col-md-2"><%= t(:description).capitalize %></th>
    <th class="col-md-1"><%= t(:price).capitalize %></th>
    <th class="col-md-1"><%= t(:number_of_coupons) %></th>
    <th class="col-md-1"><%= t(:total).capitalize %></th>
    <th class="col-md-1"></th>
  </tr>

  <% @transactions.each do |transaction| %>
      <%= content_tag_for(:tr, transaction) do %>
        <td> <%= transaction.id %> </td>
        <td> <%= link_to  transaction.coupon.market.name, transaction.coupon.market %> </td>
        <td> 
          <% if current_user != transaction.coupon.market.user %>
            <%= link_to transaction.coupon.market.user.name, transaction.coupon.market.user %>
          <% else %> 
            You 
          <% end %>
        </td>

        <td> 
          <% if current_user !=  transaction.user %>
            <%= link_to transaction.user.name, transaction.user %>
          <% else %> 
            You 
          <% end %>
        </td>

        <td> <%= transaction.coupon.description %> </td>
        <td> <%= transaction.coupon.price %>€ </td>

        <td> <%= transaction.number %> </td>
        <td> <%= transaction.number * transaction.coupon.price %> €</td>
        
        <td>
          <% if can? :see_localizador, transaction %>
            <%= link_to t(:locator).capitalize, localizador_path(transaction) %>
          <% end %>
        </td>
    <% end %>
  <% end %>
</table>