<%= page_title(t(:locator).capitalize, Coupon.icon) %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <h3> #<%= @transaction.client_token %> </h3>
      <br>
      <%= t(:for_the_service_offered_with_the_coupon) %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul>
         <li><b><%= t(:transaction) %>:</b>  <%= @transaction.id %></li>
         <li><b>Market:</b> <%= @transaction.coupon.market.name %> </li>
         <li><b><%= t(:coupons).capitalize %>:</b> <%= @transaction.number %> </li>
         <li><b><%= t(:price).capitalize %>:</b> <%= @transaction.coupon.price %> €</li>
         <li><b><%= t(:total).capitalize %>:</b> <%= @transaction.coupon.price *  @transaction.number %> € </li>
      </ul>
    </div>
  </div>
</div>
<br>

<div class = "center">
  <%= back_link %>
  <%= link_to(content_tag(:i, content_tag(:span, " " + t(:print).capitalize, :class => "hidden-xs"), :class => "fa fa-print"), localizador_path(:format => "pdf"), {method: :get, class: "btn btn-default poster poster-icon market-action btn-market-action-bar" }) %>
</div>