
<%= content_tag(:tr, :id => "market_slug_#{market.id}", :class => "market_slug") do %>
    <td class="featured-photo">
      <% if market.featured? %> 
        <%= cl_image_tag(market.featured.path, { size: '50x50', crop: :fit}) %>
      <% end %>
    </td>
    <td> <%= market.name %> </td>
    <td> <%= market.description %> </td>
    <td> <%= market.longitude %> </td>
    <td> <%= market.latitude %> </td>
    <td> <%= market.category.name %> </td>  
    <td> <%= market.tags %> </td> 
    <td> <%= market.user.email %> </td>

    <% market = market.decorate %>
    <%= market.show_link %>
    <%= market.edit_link %>
    <%= market.delete_link %>
    <%= market.like_link %> 
<% end %>