<%= content_tag(:tr, :id => "market_slug_#{market.id}", :class => "market_slug") do %>
    <td class="featured-photo">
      <% if market.featured? %> 
        <%= cl_image_tag(market.featured.path, { size: '20x20', crop: :fit}) %>
      <% end %>
    </td>
    <td> <%= market.name %> </td>
    <td> <%= market.description %> </td>
    <td> <%= market.longitude %> </td>
    <td> <%= market.latitude %> </td>
    <td> <%= market.category.name %> </td>   
    <td> <%= market.user.try(:email) %> </td>
    <% if market.user? %>
       <td> <%= link_to "Edit", edit_user_market_path(market.user, market) %></td>
       <td> <%= link_to "Show", user_market_path(market.user, market)%></td>
       <td> <%= link_to "Delete", user_market_path(market.user, market), 
        :method => :delete %></td>
        <% if user_signed_in? %>
            <% unless current_user == market.user %>
              <% if current_user.favorites.include?(market) %>
                <td> <%= link_to "Unlike", 
                    like_path(current_user, market, :v => 0) %> 
                </td>
              <% else %>
                <td> <%= link_to "Like", 
                    like_path(current_user, market, :v => 1) %> 
                </td>
              <% end %>
          <% end %>
        <% end %>
    <% end %>
<% end %>