<%= content_tag_for(:tr, market) do %>
    <td class="featured-photo">
      <% if market.featured? %> 
        <%= cl_image_tag(market.featured.path, { size: '20x20', crop: :fit}) %>
      <% end %>
    </td>
    <td> <%=  market.name %> </td>
    <td> <%=  market.description %> </td>
    <td> <%= market.longitude %> </td>
    <td> <%= market.latitude %> </td>
    <td> <%= market.category.name %> </td>   
    <td> <%= market.user.try(:email) %> </td>
    <% if market.user? %>
       <td> <%= link_to "Edit", edit_user_market_path(market.user, market) %></td>
       <td> <%= link_to "Show", user_market_path(market.user, market)%></td>
       <td> <%= link_to "Delete", user_market_path(market.user, market), :method => :delete %></td>
        <% if user_signed_in? %>
        <td>   <%= link_to "Unlike", favorite_path(current_user, market, :v => false) %>
        <% end %>
        </td>
    <% end %>
<% end %>