<h1>Market list</h1>
<table>
<% @markets.each do |market| %>
	 <tr id = '<%= market.id %>' >
       <td> <%=  market.name %> </td>
       <td> <%=  market.description %> </td>
       <td> <%= link_to "Edit", market_path(market)%></td>
       <td> <%= link_to "Delete", market_path(market), :method => :delete %></td>
     </tr>
<% end %>
</table>
