<h1>Your Markets</h1>
<table>
<% @markets.each do |market| %>
	 <tr id = '<%= market.id %>' >
       <td> <%=  market.user.email %> </td>
       <td> <%=  market.name %> </td>
       <td> <%=  market.description %> </td>
       <td> <%= link_to "Show", user_market_path(market.user, market)%></td>
       <td> <%= link_to "Delete", user_market_path(market.user, market), :method => :delete %></td>
     </tr>
<% end %>
</table>
