<%= hidden_field_tag 'page', params['page'] || 1 %>
<%= hidden_field_tag 'tag', params['tag'] %>


<div class="center">
  <%= link_to "<", "#", :id=>"prev-markets" if !@first_page %>
  <%= link_to ">", "#", :id=>"next-markets" if !@last_page %>
</div>

</div>

<div class="panel panel-default panel-table panel-table-last">
   <% if @markets.count == 0 %>
    <div class="no-matching-markets search-section-title">
      <%= t :no_matches_by_tag %>
    </div>
  <% else %>
      <%= render partial: "markets/shared/views/gallery", locals: {markets: @markets } %>
  <% end %>
</div>


<script>
 $("#prev-markets").click(function(){
    var page = parseInt($('#page').val());
    $('#page').val(page - 1);
    ajaxTagSearch();

  });

  $("#next-markets").click(function(){
    var page = parseInt($('#page').val());
    $('#page').val(page + 1);
    ajaxTagSearch();
  });
</script>

