<%= wicked_pdf_stylesheet_link_tag "markets/poster" %>
<% market = @market.decorate %>

<div class="container main-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table" id="market_<%= market.id %>">
        <div class="panel-heading table-title">
          <%= wicked_pdf_image_tag("/images/poster_title.png", class: "poster-title-icon", :width => "300", :height => "50") %>
        </div>

        <%= render partial: 'markets/shared/utils/poster_title', locals: { market: market } %>

        <div class="market-list-section-title">
          <%= t(:location).capitalize %>
        </div>
        <div class="market-section-container row">
          <div class="market-address-detail">
            <%= market.address_and_city %>
          </div>
        </div>

        <div class="market-list-section-title">
          <%= t(:calendar).capitalize %>
        </div>
        <div class="market-list-section-container short-view-coupon-section">
          <div class="short-view-coupon-inner poster-info-inner">
            <%= render partial: 'markets/shared/utils/calendar', locals: { market: market } %>
          </div>
        </div>

        <div class="market-list-section-title">
          <%= t(:schedule).capitalize %>
        </div>
        <div class="market-list-section-container short-view-coupon-section">
          <div class="short-view-coupon-inner poster-info-inner">
            <%= render partial: 'markets/shared/utils/schedule', locals: { market: market } %>
          </div>
        </div>
        
        <div class="market-list-section-title">
          <%= t(:qr_code) %>
        </div>

        <div class="market-section-container poster-qr-container row">
          <% (0..4).each do %>
            <%= render partial: 'markets/shared/utils/small_qr', locals: { market: market } %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>

