 <%= div_for @market, class: "favorites" do %>
  <h2> <%= @market.name %> </h2>

  <% if @market.featured? %>
    <div class="featured-photo">
      <%= cl_image_tag(@market.featured.path, { size: '200x200', crop: :fit}) %>
      <div class="caption">
      <h3><%= @market.description %></h3>
      </diV>
    </div>
  <% end %>

  <div class = "favorited">
    <h3>Favorited by</h3>
    <ul>
    <% @market.favorited.each do |user| %>
        <li> <%= user.email %> </li>
    <% end %>
    </ul>
  </div>

  <% if user_signed_in? %>
  <p>
  <%= link_to "Like", favorite_path(current_user, @market, :v => true) %>
  </p>
  <% end %>

<% end %>

<h3>All markets </h3>
<%= render "markets", :markets => [@market]%>

