<% market = @market.decorate %>

<div class="panel panel-default panel-table panel-table-last market-full-description-panel">
  <div class="panel-heading table-title">
    <div class="market-title-container">
      <div class="market-title col-md-6">
        <%= market.name %>
        &nbsp;&nbsp;<input type="checkbox" name="publish-switch" class="publish-switch hidden" >
      </div>
      <div class="market-actions col-md-6">
        <%= link_to content_tag(:i, "", class: "fa fa-twitter"), twitter_text(market), class: "btn btn-info" %>
        <%= link_to content_tag(:i, "", class: "fa fa-pinterest"), pinterest_text(market), class: "btn btn-danger" if market.featured.present? %>
        <%= link_to content_tag(:i, "", class: "fa fa-google-plus"), google_text(market), class: "btn btn-primary" %>
        <div class="market-actions-links">
          <%= market.actions_icon %>
          <div class="hidden">
            <%= market.edit_link %>
            <%= market.delete_link %>
            <%= market.publish_link %>
            <%= market.unpublish_link %>
            <%= market.archive_link %>
            <%= market.pro_link %>
            <%= market.statistics_link %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="market-full-description-container">
    <div class="market-badge">
      <div class="ribbon-badge <%= market.badges %>">
        <span id="market-badge-text"></span>
      </div>
    </div>
    <div class="market-section-title">General Information</div>
    <div class="market-section-container">
    <div class="col-md-6 market-featured-photo-detail">
      <%= photo(market.featured, 400, 200) %>
    </div>
  
    <div class="market-data col-md-6">
      <div class="market-description-detail"> <%=  market.description %> </div>
      <a href="<%=  market.url %>" target="_blank"><%=  market.url %></a>
      <div class="market-category-detail"> <%= market.category.name %> </div>
      <div class="market-tags-detail"> <%= market.tags %> </div> 
      <div class="market-date-detail">  <%= market.date %> </div>
      <div class="market-date-detail">  <%= market.schedule %> </div>
      <div class="market-likes-number-detail"> <i class="fa fa-heart-o"></i> <%= market.favorited.count %>&nbsp;&nbsp;<%= market.like_link %></div> 
    </div>
    </div>
  
    <%= market.photo_gallery_section %>
  
    <%= market.coupon_section %>
  
    <div class="market-section-title">Location</div>
    <div class="market-section-container">
      <div class="market-address-detail"> <%= market.address %>, <%= market.city %> </div>
      <%= market.location %>
    </div>
  
    <div class="market-section-title">Comment & Share</div>
    <div class="market-section-container social-container">
    
    <div class="social"> 
      <div id="fb-root">
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    
        <div class="fb-comments" data-href=<%=market_url(market.to_param)%> data-numposts="5" data-colorscheme="light"></div>
        <br>
        <div class="fb-like" data-href=<%=market_url(market.to_param)%> data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
    </div>
  </div>

<style>
@media (max-width: 992px){
  .market-actions{
    text-align: left;
  }
}
</style>

<!-- This is ugly as hell -->
<script>
  if ($(".market-badge>.ribbon-badge").hasClass("staff_pick")){
    $("#market-badge-text").text("STAFF PICK");
    $(".market-badge").show();
  }
  else if ($(".market-badge>.ribbon-badge").hasClass("pro")){
    $("#market-badge-text").text("PRO");
    $(".market-badge").show();
  }
  else if ($(".market-badge>.ribbon-badge").hasClass("sample")){
    $("#market-badge-text").text("SAMPLE");
    $(".market-badge").show();
  }
  else if ($(".market-badge>.ribbon-badge").hasClass("new_market")){
    $("#market-badge-text").text("NEW");
    $(".market-badge").show();
  }

  $(document).ready(function(){
    buttonHover(".edit-icon", "fa-pencil", "Edit", 70);
    buttonHover(".delete-icon", "fa-trash-o", "Delete", 85);
    buttonHover(".archive-icon", "fa-undo", "Archive", 95);
    buttonHover(".pro-icon", "fa-plus-square", "Go PRO", 100);
    buttonHover(".statistics-icon", "fa-sitemap", "Statistics", 115);
    
    if ($(".unpublish").length){
      switchAction(true);
    }
    else if ($(".publish").length){
      switchAction(false);
    }
  });

  var switchAction = function(init){
    $("[name='publish-switch']").bootstrapSwitch({
      "onText": "&nbsp;&nbsp;Published&nbsp;&nbsp;&nbsp;",
      "offText": "&nbsp;&nbsp;Hidden&nbsp;&nbsp;"
    });

    $("input[name='publish-switch']").bootstrapSwitch('state', init, true);

    $("input[name='publish-switch']").on('switchChange.bootstrapSwitch', function(event,state) {
      if(state.value){
        $(".publish").click();
      }
      else{
        $(".unpublish").click();
      }
    });
  };
  
  var buttonHover = function(button, icon, text, width){
    $(button).hover(function(){
      $(this).html("<i class='fa " + icon + "'></i>&nbsp;&nbsp;" + text);
      $(this).animate({
        width: width
      }, 100);
    }, function(){
      $(this).html("<i class='fa " + icon + "'></i>");
      $(this).animate({
        width: "40"
      }, 100);
    });
  };
</script>
<!--  -->

