<p> <%= @market.name %> </p>
<p> <%= @market.description %> </p>

<% if @market.category %>
<p> <%= @market.category.name %> </p> 
<% end %>

<% if @market.featured? %>
	<div class="featured-photo">
    	<%= cl_image_tag(@market.featured.path, { size: '50x50', crop: :fit}) %>
    <div>
<% end %>



<%= link_to "Edit", edit_market_path(@market) %>