<% market = @market.decorate %>

<div class="panel panel-default panel-table panel-table-last <%= market.badges %>">
  <div class="panel-heading table-title">
    <div class="market-title-container">
      <div class="market-title col-md-6"><%= market.name %></div>
      <div class="market-actions col-md-6">
        <%= link_to content_tag(:i, "", class: "fa fa-twitter"), "http://twitter.com/home?status=#{market.name} #{market.description} #{market.short_url}", class: "btn btn-info" %>
        <div class="market-actions-links">
          <%= market.edit_link %>
          <%= market.delete_link %>
          <%= market.publish_link %>
          <%= market.unpublish_link %>
          <%= market.archive_link %>
          <%= market.pro_link %>
          <%= market.statistics_link %>
        </div>  
      </div>
    </div>
  </div>

  <div class="market-section-title">General Information</div>
  <div class="market-section-container">
    <div class="col-md-6 market-featured-photo-detail">
      <%= photo(market.featured, 400, 200) %>
    </div>
  
    <div class="market-data col-md-6">
      <div class="market-description-detail"> <%=  market.description %> </div>
      <div class="market-category-detail"> <%= market.category.name %> </div>
      <div class="market-tags-detail"> <%= market.tags %> </div> 
      <div class="market-date-detail">  <%= market.date %> </div>
      <div class="market-likes-number-detail"> Number of likes: <%= market.favorited.count %>&nbsp;&nbsp;<%= market.like_link %></div> 
    </div>
  </div>

  <%= market.photo_gallery_section %>

  <%= market.coupon_section %>

  <div class="market-section-title">Location</div>
  <div class="market-section-container">
    <div class="market-address-detail"> <%= market.address %>, <%= market.city %> </div>
    <%= market.location %>
  </div>

  <div class="market-section-title">Comment & Share</div>
  <div class="market-section-container social-container">
    
    <div class="social"> 
      <div id="fb-root">
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    
        <div class="fb-comments" data-href=<%=market_url(market.to_param)%> data-numposts="5" data-colorscheme="light"></div>
        <br>
        <div class="fb-like" data-href=<%=market_url(market.to_param)%> data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </div>

<style>
@media (max-width: 992px){
  .market-actions{
    text-align: left;
  }
}
</style>
