<% market = @market.decorate %>

<div class="panel panel-default panel-table panel-table-last market-full-description-panel">
  
  <%= render partial: 'markets/shared/market_title', locals: { market: market } %>

  <div class="market-full-description-container">
    <div class="market-badge">
      <div class="ribbon-badge <%= market.badges %>">
        <span id="market-badge-text"></span>
      </div>
    </div>
    <div class="market-section-title"><%= t :general_information %></div>
    
    <div class="market-section-container">
      <div class="col-md-6 market-featured-photo-detail">
        <%= market.market_featured_photo_filtered(400, 200) %>
      </div>
    
      <div class="market-data col-md-6">
          <%= render partial: 'markets/shared/utils/description', locals: { market: market } %>
      </div>
    </div>
  
    <%= market.market_quality_section %>

    <%= market.photo_gallery_section %>
  
    <%= market.coupon_section %>
  
    <div class="market-section-title"><%= t :location %></div>
    <div class="market-section-container">
      <div class="market-address-detail"> <%= market.address %>, <%= market.city %> </div>
      <%= market.location %>
    </div>
  
    <div class="market-section-title">Comment & Share</div>
    <div class="market-section-container social-container">
    
    <div class="social"> 
      <div id="fb-root">
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    
        <div class="fb-comments" data-href='<%=market_url(market.to_param)%>' data-numposts="5" data-colorscheme="light"></div>
        <br>
        <div class="fb-like" data-href='<%=market_url(market.to_param)%>' data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
      <div id="market-qr"></div>
    </div>


  </div>

<script>

  $(document).ready(function(){
    $.get( "<%= market_path(market, format: :svg) %>", function( data ) {
      var qr = data.childNodes[0];
      qr.setAttribute( "width", "200");
      qr.setAttribute( "height", "200");
      qr.setAttribute( "viewBox", "0 0 370 370");
      $( "#market-qr" ).html( qr );

    });

    var scheduleString = $(".market-schedule-string").text();
    var scheduleItems = scheduleString.split(";");
    $.each(scheduleItems, function(i, val){
      valArray = val.split(",");
      scheduleItems[i] = valArray[0]+", "+valArray[1]+" to "+valArray[2];
    });
    $(".market-schedule-detail").html(scheduleItems.join("<br>"));

  });
</script>
