<p> <%= @market.name %> </p>
<p> <%= @market.description %> </p>

<% if @market.category %>
<p> <%= @market.category.name %> </p> 
<% end %>



<div class "attachinary-input">
<%= simple_form_for @market do |f| %>
<%= f.input :featured, as: :attachinary %>
<%= f.button :submit %>
<% end %>
<div>
