<%= stylesheet_link_tag "markets/full-description" %>

<%= render partial: 'markets/shared/utils/status', locals: { market: market } %>

<div class="panel panel-default panel-table panel-table-last row market-full-description-panel">
  
  <%= render partial: 'markets/shared/utils/title_and_actions_bar', locals: { market: market } %>

  <div class="market-full-description-container">
    <div class="market-badge">
      <div class="ribbon-badge <%= market.badges %>">
        <span id="market-badge-text"></span>
      </div>
    </div>

    <div class="market-section-title row"><%= t :general_information %> 
        <%= market.direct_edit_link("form-market-description") %></div>
    
    <div class="market-section-container row">
      <div class="col-md-4 market-featured-photo-detail">
        <%= market.market_featured_photo_filtered(400, 200) %>
        <%= edit_photo_link(market.featured) %>
      </div>
    
      <div class="market-data col-md-8">
          <%= render partial: 'markets/shared/utils/description', locals: { market: market } %>
      </div>
    </div>
  
    <% if !market.pro? %>
      <div class="adsense-banner">ADVERTISEMENT <span>POWERED BY ADSENSE</span></div>
    <% end %>

    <%= market.photo_slideshow_section %>

    <%= market.photo_gallery_section if market.pro? %>
  
    <%= market.coupon_section if market.pro?  %>
    
    <div class="market-section-title row"><%= t :location %> <%= market.direct_edit_link("form-market-location") %> </div>
    <div class="market-section-container row">
      <div class="market-address-detail "> <%= market.address_and_city %> </div>
      <%= market.location %>
    </div>

    <div class="market-section-title row facebook-section"><%= t :comments_and_share %></div>
    <div class="market-section-container row social-container facebook-section">
      <%= render partial: 'markets/shared/utils/facebook_comments', locals: { market: market } %>
    </div>
    <%= market.market_quality_section %>
</div>

<style>
@media(max-width: 650px){
  .facebook-section{
    display:none;
  }
}
</style>
