<div class = "market_gallery row">
 
  <% markets.each do |market| %>
    <% market = market.decorate %>
    <%= content_tag_for(:tr, market) do %>
      <div class = "market_item col-md-4">
      
        <div class = "show gallery_market_featured_photo">

          <div class="market-gallery-badge">
            <div class="ribbon-badge <%= market.badges %>">
              <span id="market-badge-text"></span>
            </div>
          </div>
        <%= link_to market do %>
          <%= market.market_featured_photo_filtered(300) %>

          <div class = "market_name_label">
            <span><%= market.formatted_market_name %></span>
          </div>
          <div class = "market_description_label">
            <span><%= market.description %></span>
          </div>
          <% end %>
          <span class="like-badge <%= market.like_class %>"><%= market.like_badge_link %></span>
        </div> 

        <div class="market-gallery-extra">
          <%= market.market_like_count %><br>
          <%= market.address %>, <%= market.city %><br>
          <%= market.market_date_highlight %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
$(document).ready(function(){
  if(<%= !user_signed_in? %>)
    $(".like-badge").hide();
  $(".like-badge").hover(function(){
    $(this).width(60);
    $(this).find('.like-icon').html("<i class='fa fa-heart'></i>&nbsp;&nbsp;Like");
    $(this).find('.unlike-icon').html("<i class='fa fa-times'></i>&nbsp;&nbsp;Unlike");
  }, function(){
    $(this).width(30);
    $(this).find('.like-icon').html("<i class='fa fa-heart-o'></i>");
    $(this).find('.unlike-icon').html("<i class='fa fa-heart'></i>");
  });
});
</script>