<div class = "market_gallery">
  <% markets.each do |market| %>
    <% market = market.decorate %>
    <%= content_tag_for(:tr, market) do %>
      <div class = "market_item">
      
        <div class = "show market_featured_photo">

          <div class="market-gallery-badge">
            <div class="ribbon-badge <%= market.badges %>">
              <span id="market-badge-text"></span>
            </div>
          </div>
        <%= link_to market do %>
          <%= market.market_featured_photo_filtered(300, 150) %>

          <div class = "market_name_label">
            <%= market.formatted_market_name %>
          </div>
          <div class = "market_description_label">
            <%= market.description %>
          </div>
          <% end %>
          <span class="like-badge <%= market.like_class %>"><%= market.like_link_icon %></span>
        </div> 

        <div class="market-gallery-extra">
          <%= market.address %>, <%= market.city %><br>
          <%= market.market_date_highlight %> &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o "></i> <span class="like-counter"> <%= market.favorited.count %> </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
$(document).ready(function(){
  if(<%= !user_signed_in? %>)
    $(".like-badge").hide();
  $(".like-badge").hover(function(){
    $(this).width(60);
  }, function(){
    $(this).width(30);
  });
});
</script>