<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table panel-table-last" id="market_<%= market.id %>">
    <%= render partial: 'markets/shared/utils/poster_title', locals: { market: market } %>

    <div class="market-poster-container row">
      <div class="market-list-section-title"> <%= t :QR_Code %></div>
      <div class="market-list-section-container short-view-coupon-section">
        <div class="short-view-coupon-inner">
          <%= render partial: 'markets/shared/utils/qr_code', locals: { market: market } %>
        </div>
      </div>

      <div class="market-list-section-title"><%= t :Information%></div>
      <div class="market-list-section-container short-view-coupon-section">
        <div class="short-view-coupon-inner poster-info-inner">
          <%= render partial: 'markets/shared/utils/description', locals: { market: market } %>
        </div>
      </div>

      <div class="market-list-section-title"> <%= t :location %> </div>
      <div class="market-section-container row">
        <div class="market-address-detail "> <%= market.address_and_city %> </div>
        <%= market.location %>
      </div>
    </div>
  </div>
</div>

<style>
  .poster-info-inner > .col-md-6 > a{
    display:none;
  }
</style>