<div class="panel panel-default panel-table" id="market_<%= market.id %>">
    <%= render partial: 'markets/shared/utils/poster_title', locals: { market: market } %>

    <div class="market-list-each-container row">
      <div class = "col-md-8">
        <div class="market-list-section-title"><%= t :Information%></div>
        <div class="market-list-section-container">
          <div class = "market-list-section-container-inner row">
            <div class = "col-md-12">
              <%= render partial: 'markets/shared/utils/description', locals: { market: market } %>
            </div>
          </div>
        </div>
      </div>
      
      <div class = "col-md-4">
        <div class="market-list-section-title"> <%= t :QR_Code %></div>
        <div class="market-list-section-container short-view-coupon-section">
          <div class="short-view-coupon-inner">
            <%= render partial: 'markets/shared/utils/qr_code', locals: { market: market } %>
          </div>
        </div>
      </div>

    </div>
</div>