<%= wicked_pdf_stylesheet_link_tag "markets/poster" %>

<div id="printable" class="container main-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table panel-table-last" id="market_<%= market.id %>">
    <%= render partial: 'markets/shared/utils/poster_title', locals: { market: market } %>
      <p class="center market-owner-detail print-hide">
       <%= t(:owner) %>: <%= market.owner %> 
      </p>
    <div class="market-poster-container row">
      <div class="market-list-section-title"> <%= t(:QR_Code) %></div>
      <div class="market-list-section-container short-view-coupon-section">
        <div class="short-view-coupon-inner">
          <%= render partial: 'markets/shared/utils/qr_code', locals: { market: market } %>
        </div>
      </div>

      <div class="market-list-section-title"><%= t :schedule %></div>
      <div class="market-list-section-container short-view-coupon-section">
        <div class="short-view-coupon-inner poster-info-inner">
          <%= render partial: 'markets/shared/utils/schedule', locals: { market: market } %>
        </div>
      </div>

      <div class="market-list-section-title"> <%= t(:location).capitalize %> </div>
      <div class="market-section-container row">
        <div class="market-address-detail "> <%= market.address_and_city %> </div>
        <div class="print-hide"> <%= market.location %> </div>
      </div>
      <div class="center print-hide"><%= back_link %></div>
      <div class="center print-hide">
        <%= market.print_link %>
      </div>
    </div>
  </div>
</div>

<style>
  @media print{
    body * { visibility: hidden; }
    #printable * { visibility: visible; }
    .print-hide{
      display:none;
    }
  }
</style>
