<%= javascript_include_tag "bootstrap-colorpicker" %>
<%= stylesheet_link_tag "bootstrap-colorpicker" %>


<%= simple_form_for @category do |f| %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= action %> Category</h3>
        </div>
        <div class="panel-body">
          <fieldset>
          <div class="form-group">
            <%= f.input :name, input_html: { class: 'category-name', placeholder: "Category Name", :required => true } %>
          </div>
          <div class="form-group">
            <%= f.input :english, input_html: { class: 'english-category-name', placeholder: "in english...", :required => true } %>
          </div>
          <div class="form-group">
            <%= f.input :style, input_html: { class: 'category-style', placeholder: "Map Style", :required => true } %>
            <%= link_to "Create map styles", "https://www.mapbox.com", :target => "_blank" %>
          </div>
          <div class="form-group">
            <%= f.input :glyph, input_html: { class: 'category-glyph', placeholder: "Category glyph", :required => true } %>
            <%= link_to "Get icons", "http://fortawesome.github.io/Font-Awesome/icons/", :target => "_blank" %>

          </div>
          <div class="form-group">
            <%= f.input :color, input_html: { class: 'category-color colorpicker', placeholder: "Hex color ex. #673423", :required => true } %>
          </div>
          <div class="form-group">
            <%= f.simple_fields_for :photography do |form_builder| %>
                <%= render 'photos/form', f: form_builder, required: true %>
            <% end %>
          </div>

          <div class="form-group col-md-4 col-md-offset-4">
            <%= f.button :submit, class:"btn btn-info" %>
          </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
$( document ).ready(function() {
  $('.colorpicker').colorpicker();
});
</script>