<%= javascript_include_tag "bootstrap-colorpicker" %>
<%= stylesheet_link_tag "bootstrap-colorpicker" %>

<div class="form-group">
  <%= f.input :name, input_html: { class: 'category-name', placeholder: "Category Name", :required => true } %>
</div>

<div class="form-group">
  <%= f.input :english, input_html: { class: 'english-category-name', placeholder: "in english...", :required => true } %>
</div>

<div class="form-group">
  <%= f.input :style, input_html: { class: 'category-style', placeholder: "Map Style", :required => true } %>
  <%= link_to "Create map styles", "https://www.mapbox.com", :target => "_blank" %>
</div>

<div class="form-group">
  <%= f.input :glyph, input_html: { class: 'category-glyph', placeholder: "Category glyph", :required => true } %>
  <%= link_to "Get icons", "http://fortawesome.github.io/Font-Awesome/icons/", :target => "_blank" %>
</div>

<div class="form-group">
  <%= f.input :color, input_html: { class: 'category-color colorpicker', placeholder: "Hex color ex. #673423", :required => true } %>
</div>

<div class="form-group">
  <%= f.input :order, input_html: { class: 'category-order', placeholder: "Order", :required => true } %>
</div>

<div class="form-group">
  <%= f.simple_fields_for :photography do |form_builder| %>
      <%= render 'photos/form', f: form_builder, required: true %>
  <% end %>
</div>

<div class="form-group">
  <p>Icon.png (maximun size 42 x 42 px)</p>
  <%= f.input :glyph_img, as: :attachinary %>
</div>

<script>
$( document ).ready(function() {

  $('.colorpicker').colorpicker();
  
 $('form').submit(function(){
  if($("#category_name").val().indexOf(' ') > -1){
    alert("Category name cannot contain spaces");
    return false;
  }
 });

});
</script>
