<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">
    <%= t :categories %> <%= link_to content_tag(:i, "", class: "fa fa-plus"), new_category_path, 
      class: "btn btn-info table-button table-button-new new"%>
  </div>
  <div class="table-container">
  <table class="table table-striped">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Map Style</th>
      <th>Market Count</th>
      <th>Actions </th>
    </tr>
  
    <% @categories.each do |category| %>
      <%= content_tag_for(:tr, category) do %> 
        <td class="col-md-2"> 
          <div class="table-photo-container">
             <%= photo(category.photography, 120, 60) %>
             <%= edit_photo_link(category.photography) %>
          </div>
        </td>
        <td class="col-md-2"> 
          <%= formatted_button(category) %>
        </td> 
        <td class="col-md-2"> 
          <p> <%= category.style %> </p>
        </td> 

        <td class="col-md-3"> <%= category.markets.count %> </td>
        <td class="col-md-3"> 
          <span> <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), category_path(category), :method => :delete, class: "delete btn btn-danger table-button table-button-delete", data: { confirm: 'Are you sure?' } %> </span>
          <span> <%= link_to content_tag(:i, "", class: "fa fa-pencil"), edit_category_path(category), class: "edit btn btn-info table-button table-button-edit" %></span>  
          
        </td>
      <% end %>
    <% end %>
  </table>
</div>
</div>

<script>
  $(document).ready(function(){
    buttonHover(".table-button-new", "fa-plus", "New Category", 140);
    buttonHover(".table-button-delete", "fa-trash-o", "Delete", 85);
    buttonHover(".table-button-edit", "fa-pencil", "Edit", 70);
  });
  
  var buttonHover = function(button, icon, text, width){
    $(button).hover(function(){
      $(this).html("<i class='fa " + icon + "'></i>&nbsp;&nbsp;" + text);
      $(this).animate({
        width: width
      }, 100);
    }, function(){
      $(this).html("<i class='fa " + icon + "'></i>");
      $(this).animate({
        width: "40"
      }, 100);
    });
  };
  
</script>