<div class = "special_location_gallery">
  <% @special_locations.each do |special_location| %>
    <div class = "special_location_item">
      <div class = "special_location_featured_photo">
        <%= cl_image_tag(special_location.photo.path, :size => '400x200', :crop => :fill) %>
        <div class = "special_location_name">
          <%= special_location.name %>
        </div>
        <div class = "special_location_show special_location_actions">
          <%= link_to 'Show', special_location %>
        </div>
        <div class = "special_location_edit special_location_actions">
          <%= link_to 'Edit', edit_special_location_path(special_location) %>
        </div>
        <div class = "special_location_destroy special_location_actions">
          <%= link_to 'Destroy', special_location, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
