<%= f.input :description, :as => :text,  placeholder: t(:description).capitalize  %>
  
<div class = "row">
  <div class="form-group">
    <div class = "col-md-5">
      <p>
        <%= t(:price).capitalize %> <%= t(:in) %> €: 
      </p>
      <%= f.input :price, collection: (5..25).step(5), :include_blank => false %>
    </div>
  </div>
</div>
<br>

<div class = "row">
  <div class="form-group">
    <div class = "col-md-5">
      <p>
       <%= t(:available).capitalize %>: 
      </p>
      <%= f.input :available, collection: (10..100).step(5), :include_blank => false %>
    </div>
  </div>
</div>
<br>

<div class="form-group">
  <p>
    <%= t(:photo).capitalize %>:
  </p>
  <%= f.simple_fields_for :photography do |form_builder| %>
    <%= render 'photos/form', f: form_builder %>
  <% end %>
</div>
