<div class="panel panel-default market-statistic">
  <div class="panel-heading statistic-title"><%= market.decorate.link(market.decorate.formatted_market_name)%> <span class="badge pull-right statistic-visit-count"><div class="visits-label">Visits</div><div id="<%= market.public_id %>_visitsCount" class="visits-value"></div></span></div>
  <div class="panel-body">
      <div id="<%= market.public_id %>_visitsChart"></div>
  </div>
      <script type="text/javascript">

        Keen.onChartsReady(function() {
            var metric = new Keen.Metric("market_visit", {
                analysisType: "count"
            });

            metric.addFilter("market_id", "eq", "<%= market.public_id %>");

            metric.getResponse(function(response){
              $("#<%= market.public_id %>_visitsCount").html(response.result);
            });
        });

        Keen.onChartsReady(function() {
            var series = new Keen.Series("market_visit", {
                analysisType: "count",
                timeframe: "this_week",
                interval: "daily"
            });

            series.addFilter("market_id", "eq", "<%= market.public_id %>");

            series.draw(document.getElementById("<%= market.public_id %>_visitsChart"), {
                label: "Visits per day this week"
            });
        });

      </script>
</div>


<!-- <div class="market-statistic">
  <div class="market-section-title"><%= market.name %></div>
  <div class="market-section-container">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div id="<%= market.public_id %>_visitsCount" class="statistic"></div>
        </div>
        <div class="col-md-4">
          <div id="<%= market.public_id %>_visitsChart"></div>
        </div>
      </div>

    </div>
  </div>
</div>
 -->
