<div class="panel panel-default statistic"> 
  <div class="panel-heading title">
    <div class="container">
      <%= market.decorate.link(market.decorate.formatted_market_name)%> 
      <span class="badge pull-right count">
        <div class="visits-label">
          <%= t(:visits).capitalize %>
        </div>
        <div id="<%= market.public_id %>_visitsCount" class="value">
        </div>
      </span>
    </div>
  </div>

  <div class="panel-body">
    <div id="<%= market.public_id %>_visitsChart" class="chart">
    </div>
  </div>
</div>

<script type="text/javascript">
  Keen.onChartsReady(function() {
      var metric = new Keen.Metric("market_visit", {
          analysisType: "count"
      });
  
      metric.addFilter("market_id", "eq", "<%= market.public_id %>");
  
      metric.getResponse(function(response){
        $("#<%= market.public_id %>_visitsCount").html(response.result);
      });
  });
  
  Keen.onChartsReady(function() {
      var series = new Keen.Series("market_visit", {
          analysisType: "count",
          timeframe: "this_week",
          interval: "daily"
      });
  
      series.addFilter("market_id", "eq", "<%= market.public_id %>");
  
      series.draw(document.getElementById("<%= market.public_id %>_visitsChart"), {
          label: "<%= t(:visits_per_day_this_week) %>"
      });
  });
</script>