<!DOCTYPE html>
<html lang="en">

  <%= render "layouts/shared/header" %>

<body>
  
  <%= render "layouts/shared/flash" %>

  <%= render "layouts/shared/navbarhorizontal" %>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= render "layouts/shared/footer" %>

</body>

</html>
