<!DOCTYPE html>
<html lang="en">

<%= render "layouts/shared/head" %>

<body>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
<% end %>

<%= render "layouts/shared/navbarhorizontal" %>

<% if user_signed_in? %>
	<%= render "layouts/shared/container_admin" %>
<% else %>
	<%= render "layouts/shared/container" %>
<% end %>

<%= render "layouts/shared/footer" %>

</body>

</html>
