<!DOCTYPE html>
<html>
<head>
  <title>Magdalenas Federico</title>
</head>
<body>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


<div>
<h2> Personal Markets </h2>
</div>

<div>
<%= yield %>
</div>

<hr>
<div>
<ul >
  <% if user_signed_in? %>
  <li><%= link_to "Home", user_markets_path(current_user) %> </li>
    <li> You are logged as: <%= current_user.email %>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
</ul>
</div>

<hr>

<div>
  <%= link_to "Home", "/" %>
</div>


<script>
$( document ).ready(function() {
  $('.attachinary-input').attachinary();
});
</script>
</body>
</html>
