<!DOCTYPE html>
<html>
<head>
  <title>Personal markets</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <%= javascript_include_tag "http://code.jquery.com/ui/1.10.1/jquery-ui.js" %>
    <%= stylesheet_link_tag  "http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag params[:controller] %> 
  <%= stylesheet_link_tag params[:controller] %>
  
  <%= cloudinary_js_config %>
</head>

<body>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
<% end %>

<div>
  <h2>Personal Markets</h2>
</div>

<div>
  <%= yield %>
</div>

<div>
  <ul >
    <% if user_signed_in? %>
      <li><%= link_to "My markets", user_markets_path(current_user) %> </li>
      <li><%= link_to "My favorites", user_path(current_user) %> </li>
      <li> You are logged as: <%= current_user.email %>
      <li><%= link_to "Sign out", destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Home", "/" %>
</div>

<div>
  <%= link_to "Categories", categories_path %>
</div>

<div>
  <%= link_to "Tags", tags_path %>
</div>

</body>
</html>
