<!DOCTYPE html>
<html lang="en">

  <%= render "layouts/shared/header" %>

<body>
  <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
      <div id="error"><%= flash[:error] %></div>
  <% end %>
  
  <%= render "layouts/shared/navbarhorizontal" %>

  <div class="container">
    <div class="row">
      <%= render "layouts/shared/navbarvertical" if user_signed_in? %>
      <div class="col-md-9">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%= render "layouts/shared/footer" %>

</body>

</html>
