<!DOCTYPE html>
<html lang="en">

    <head>
        <%= render "layouts/shared/header" %>
        <%= stylesheet_link_tag "style.min.css" %>  
        <%= stylesheet_link_tag "maps" %>
        <%= stylesheet_link_tag "dp_calendar" %>  
        <%= stylesheet_link_tag "jquery.ui.all" %>
        <%= javascript_include_tag "signals.min" %>
        <%= javascript_include_tag "crossroads.min" %>
        <%= javascript_include_tag "hasher.min" %>
        <%= javascript_include_tag "theme" %>
        <%= javascript_include_tag "homepage_calendar.js" %>
    </head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <%= render "layouts/shared/navbarhorizontal" %>
  
  <%= render "layouts/shared/flash" %>

    <!-- home -->
    <section id="home" class="box">
        <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <hgroup id="intro" style="display: none">
                            <%= image_tag "search.png", id: "search_img" %>
                        </hgroup>
                    </div>
                </div>
        </div>
    </section>

   


    <section id ="map-container" class="box">
      <%= render "static_pages/map" %>
    </section>


       <!-- portfolio -->
    <section id="gallery" class="box">
        <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                      <ul id="gallery-items">
                      </ul>
                    </div>
                </div>
            </div>
    </section>


    <section id ="calendar" class="box">
      <div id="calendar-widget"></div>
    </section>

    <!-- ligthbox -->
    <div style="display: none;" id="lightbox"><img id="bigimg" src="" /></div>


</body>

</html>