<!DOCTYPE html>
<html lang="en">

  <%= render "layouts/shared/header" %>
  
<body>
  <%= render "layouts/shared/navbarhorizontal" %>
  <%= render "layouts/shared/filter_bar" %>

  
  <%= render "layouts/shared/flash" %>
  <%= yield %>


  <%= render "layouts/shared/footer" %>
</body>

</html>