<!DOCTYPE html>
<html lang="en">

  <%= render "layouts/shared/header" %>
  
<body>
  <%= render "layouts/shared/flash" %>
  <%= render "layouts/shared/navbarhorizontal" %>


  
    <%= yield %>
  

  <%= render "layouts/shared/footer" %>
</body>

</html>